params {
  config_profile_description = 'BARE MINIMUM TO RUN NF ON SUMNER'
  config_profile_contact = 'Barry Guglielmo'
  config_profile_url = 'https://www.google.com'
}

process {
    withName:foo {
        container = 'quay.io/biocontainers/trimmomatic:0.32--hdfd78af_4'
    }
    withName:bar {
        container = 'quay.io/biocontainers/fastqc:0.11.9--hdfd78af_1'
    }
}

singularity {
  enabled = true
  autoMounts = false
  runOptions = '-B /scratch:/scratch -B /scratch2:/scratch2 -B /shared:/shared'
  cacheDir = '/home/guglib/sing'
}

process {
  executor = 'slurm'
}

params {
  igenomes_ignore = true
  igenomesIgnore = true //deprecated
  max_memory = 10.GB
  max_cpus = 10
  max_time = 24.h
}
