params {

  description = 'Bare Minimum Nextflow Script for Sumner (trims reads)'
  contact = 'Barry Guglielmo'
  outdir = '/projects/compsci/guglib/toy-example'
  extension = '.fastq'
  fq_path = '/projects/compsci/guglib/rnaseqs/PE/short' // needs to be full path not relative ~/wont/work
  genome_path = '/projects/compsci/guglib/toy-example/genomes'
  create_ref='true'
  // NOTE: if you have many paramiters that are commonly altered in the processes
  // use the -params-file option it takes a yaml list as input

  // trimming variables
  read_type = "PE"
  t_lead = 3
  t_trail = 3
  min_len = 36

}

singularity {
  enabled = true
  autoMounts = false
  cacheDir = '/home/guglib/cache'
}

process {
    withName:trim {
        container = 'quay.io/biocontainers/trimmomatic:0.35--6'
        // errorStrategy = 'ignore'
    }
    withName:rsem_ref_p1 {
        container = 'quay.io/biocontainers/rsem:1.3.3--pl5262h3198e80_2'
    }
    executor = 'slurm'
}
