params {

  description = 'Bare Minimum Nextflow Script for Sumner (trims reads)'
  contact = 'Barry Guglielmo'
  outdir = '/projects/compsci/guglib/toy-example'
  extension = '.fastq.gz'
  fq_path = '/projects/compsci/guglib/rnaseqs/PE/short' // needs to be full path not relative ~/wont/work
  genome_path = '/projects/compsci/guglib/toy-example/genomes'
  ref_files = '/home/guglib/ref'

  workDir='/home/guglib/test'
  ref_pull='false'
  ref_build='false'
  species='mus_musculus'

  // NOTE: if you have many paramiters that are commonly altered in the processes
  // use the -params-file option it takes a yaml list as input

  // trimming variables
  read_type = "PE"
  t_lead = 3
  t_trail = 3
  min_len = 36

}

singularity {
  enabled = true
  autoMounts = false
  cacheDir = '/home/guglib/cache'
}

process {
    withName:TRIM {
        container = 'quay.io/biocontainers/trimmomatic:0.35--6'
    }
    withName:RSEM_REF_BUILD {
        container = 'dceoy/rsem'
    }
    withName:RSEM_EXPRESSION {
        container = 'dceoy/rsem'
    }
    executor = 'slurm'
 }
