manifest {
    name = "RNASeq"
    description = 'Pipeline for processing of RNASeq samples.'
    author = 'Anuj Srivastava, Carolyn Paisie, Copyright Jackson Laboratory 2021'
    dsl2_adaptation = 'Barry Guglielmo'
    version = "2.0.0"
}

params {

    //Shared params
    gen_org='human'
    extension='.fastq.gz'
    read_type = 'PE' // SE (** was "reads")
    outdir = params.outdir ?: "${manifest.name}_results"
    sample_tmpdir=''
    ref_fa=''
    fq_path=''

    //Quality Stats params
    filter_trim=''
    min_pct_hq_reads=''

    //RSEM params
    aligner = '' // options here
    read_prep = 'stranded' // non_stranded
    seed_length = ''
    rsem_ref_prefix = ''

    //Read Groups
    read_grp_det=''

    //Picard params
    read_prep=''
    ref_flat=''
    ribo_intervals=''

    //Summary Stats
    summary_mets_PE=''
    summary_mets_SE=''

    //GATK params
    probes=''
    ctp_genes=''
    gatk_form=''
    cov_calc=''

}

env {
    NXF_ANSI_SUMMARY = true
    NXF_ANSI_LOG = true
    NXF_DEBUG = 2
}

report {
    enabled = true
    file = "${params.outdir}/report.html"
}

trace {
    enabled = true
    file = "${params.outdir}/trace.txt"
    fields = \
         "task_id,"   \
       + "hash,"      \
       + "process,"   \
       + "tag,"       \
       + "status,"    \
       + "exit,"      \
       + "start,"     \
       + "container," \
       + "cpus,"      \
       + "time,"      \
       + "disk,"      \
       + "memory,"    \
       + "duration,"  \
       + "realtime,"  \
       + "queue,"     \
       + "%cpu,"      \
       + "%mem,"      \
       + "rss,"       \
       + "vmem,"      \
       + "rchar,"     \
       + "wchar"
}
