// profile credit to https://github.com/TheJacksonLaboratory/nf-tenx

singularity {
   enabled = true
   autoMounts = true
   cacheDir = '/gt/research_development/cs-nf-pipelines/omics_share/meta/containers'
 }

process {
    executor = 'slurm'
    clusterOptions = '-p gt_compute --exclude=elion019,elion021,elion015,elion016,elion017,elion023,elion024'
    module = 'slurm'
}

executor {
    name = 'slurm'
    // The number of tasks the executor will handle in a parallel manner
    queueSize = 20
    submitRateLimit = '1 / 2 s'
    // Determines the max rate of job submission per time unit, for example '10sec' eg. max 10 jobs per second or '1/2 s' i.e. 1 job submissions every 2 seconds.
}
