image: ubuntu:16.04
clone:
  depth: full
pipelines:
  branches:
    main:
      - step:
          script:
            - apt-get update -y
            - apt-get install -y git
            - git config --global user.name bitbucket-pipelines
            - git config --global user.email commits-noreply@bitbucket.org
            - git remote set-url origin ${BITBUCKET_GIT_SSH_ORIGIN}
            - git push --mirror git@github.com:TheJacksonLaboratory/cs-nf-pipelines.git
            - git clone --bare git@bitbucket.org:jacksonlaboratory/ngs-ops-nf-pipelines.git/wiki bit_wiki
            - cd bit_wiki
            - git push --all --force git@github.com:TheJacksonLaboratory/cs-nf-pipelines.wiki.git