/*___________________________________________________

             Nextflow DSL2 Main Config

     Author(s):Anuj, Brian, Mike, Barry, Carolyn
       Copyright of Jackson Laboratories 2022

_____________________________________________________*/

params {
    // Select workflow
    workflow = 'toy_example'

    // select config from config folder to use
    config = "config/${params.workflow}.config"

    // set outdirectory for simlinks (easier to follow)
    outdir = '.'

}

// specific config for the pipeline
includeConfig params.config

// work directory is important as it will be large, plan accordingly
workDir = '/projects/compsci/guglib/toy-example/work'

manifest {
    name = "Omics Shared Pipelines"
    homePage = ""
    mainScript = "main.nf"
    nextflowVersion = "!>=20.10.0"
    version = "0.1.0"
}

// does this cover all processes? and should I add submission rate?
process {
    executor = 'slurm'
 }

 singularity {
   enabled = true
   autoMounts = true
   cacheDir = '/home/guglib/cache'// '/projects/omics_share/meta/containers' // ** move to omics share for permissions reasons
 }
