/*___________________________________________________

             Nextflow DSL2 Main Config

       Copyright of Jackson Laboratories 2022
_____________________________________________________*/

params {
    help = null
    workflow = "pacbio_ccs"
    config = "config/${workflow}.config"

    // make a comment for log
    comment = ''
}

profiles {
    sumner       { includeConfig "config/profiles/sumner.config" }
    elion        { includeConfig "config/profiles/elion.config" }
}

includeConfig params.config

report {
    enabled = true
    file = "${params.pubdir}/${params.names}_${params.workflow}_report.html"
}