params {
  // REQUIRED PARAMETERS -------------------------------------------------------
  fastq1 = "path_to_fastq1_input"
  //fastq2 = "path_to_fastq2_input"

  outdir = "path_to_output_files"
  
  // seqmode should be "illumina" or "pacbio"
  seqmode = "pacbio"
  
  // if seqmode is "pacbio" then set pbmode to "clr" or "cls"
  pbmode = "ccs"
  
  // Set a prefix for output files
  names = "name_string"

  // OPTIONAL PARAMETERS (uncomment to modify values) --------------------------
  
  //fasta is for using a local copy of a genome build, rather than igenomes
  //fasta = "path_to_genome_build"
    
  //bam is optional for short-read data. 
  //bam = "path_to_short_read_mapped_reads"
  
  // SURVIVOR parameters
  
  //surv_dist is the maximum distance between breakpoints for merging SVs (default: 1000bp)
  //surv_dist = 1000
  
  //surv_supp is the number of callers (out of 2) required to support an SV (default: 1)
  //surv_supp = 1
  
  //surv_type is a boolean (0/1) that requires SVs to be the same type for merging (default: 1)
  //surv_type = 1
  
  //surv_strand is a boolean (0/1) that requires SVs to be on the same strand for merging (default: 1)
  //surv_strand = 1
  
  //surv_min is the minimum length to output SVs (default: 30bp)
  //surv_min = 30
}