params {

  description = 'Bare Minimum Nextflow Script for Sumner (trims reads)'
  contact = 'Barry Guglielmo'
  extension = '.fastq.gz'
  fq_path = '/home/guglib/rnaseqs/PE' // needs to be full path not relative ~/wont/work

  // trimming variables
  read_type = "PE"
  t_lead = 3
  t_trail = 3
  min_len = 36

}

singularity {
  enabled = true
  autoMounts = false
  cacheDir = '/home/guglib/cache'
}

process {
    withName:trim {
        container = 'quay.io/biocontainers/trimmomatic:0.32--hdfd78af_4'
        publishDir = './output/trimmed'
    }
    executor = 'slurm'
}
