/====================  Nextflow/Container Config  ==========

manifest {
    name = "pdx_wes"
    description = 'Pipeline for Processing Whole Exome Samples'
    author = 'Anuj Srivastava, Carolyn Paisie, Barry Guglielmo, Michael Lloyd, Brian Sanderson Copyright Jackson Laboratory 2021'
}

// Default to Mouse, If gen_org == 'human' parameters are overwritten with values
// in the "Defaults for Human" section below

params {
  // Shared params
  gen_org = 'mouse' // human
  extension='.fastq.gz'
  pattern="*_R{1,2}*"
  read_type = 'PE' // SE
  sample_folder = null
  concat_lanes = false
  download_data = false

  multiqc_config = "${projectDir}/bin/shared/multiqc/amplicon.yaml"

  cutadaptMinLength  = 20
  cutadaptQualCutoff = 20
  cutadaptAdapterR1  = 'CTGTCTCTTATACACATCTCCGAGCCCACGAGAC'
  cutadaptAdapterR2  = 'CTGTCTCTTATACACATCTGACGCTGCCGACGA'

  masterfile = '/path/to/be/determined.file.txt'

  gold_std_indels = '/projects/omics_share/human/GRCh38/genome/annotation/snps_indels/Mills_and_1000G_gold_standard.indels.hg38.vcf.gz'
  phase1_1000G = '/projects/omics_share/human/GRCh38/genome/annotation/snps_indels/1000G_phase1.snps.high_confidence.hg38.vcf.gz'
  dbSNP = '/projects/omics_share/human/GRCh38/genome/annotation/snps_indels/dbsnp_151.vcf.gz'

  ploidy_val = null // variable in haplotypecaller. not required for amplicon, but present in module. 
  target_gatk = '' // this I will need to think about. target is hardcoded in all current haplotypecaller modules. should we call just in the amplicon range...seems a good idea. 

  tmpdir = "/fastscratch/${USER}" 

}