/====================  Nextflow/Container Config  ==========

manifest {
    name = "pdx_wes"
    description = 'Pipeline for Processing Whole Exome Samples'
    author = 'Anuj Srivastava, Carolyn Paisie, Barry Guglielmo, Michael Lloyd, Brian Sanderson Copyright Jackson Laboratory 2021'
}

// Default to Mouse, If gen_org == 'human' parameters are overwritten with values
// in the "Defaults for Human" section below

params {
  // Shared params
  gen_org = 'mouse' // human
  extension='.fastq.gz'
  pattern="*_R{1,2}*"
  read_type = 'PE' // SE
  sample_folder = null
  concat_lanes = false
  download_data = false

  multiqc_config = "${projectDir}/bin/shared/multiqc/amplicon.yaml"

  masterfile = '/path/to/be/determined.file.txt'

  tmpdir = "/fastscratch/${USER}" 

}