//====================  Nextflow/Container Config  ==========

manifest {
    name = "amplicon"
    description = 'Pipeline for Processing xGEN amplicon panel data'   
}

params {
  // Shared params
  gen_org = 'human'
  genome_build = 'GRCh38'
  extension='.fastq.gz'
  pattern="*_R{1,2}*"
  read_type = 'PE' // SE
  sample_folder = null
  concat_lanes = false
  download_data = false
  csv_input = null

  multiqc_config = "${projectDir}/bin/shared/multiqc/amplicon_multiqc.yaml"

  cutadaptMinLength  = 20
  cutadaptQualCutoff = 20
  
  // truSeq: 
  cutadaptAdapterR1  = 'AGATCGGAAGAG'
  cutadaptAdapterR2  = 'AGATCGGAAGAG'

  // Nextera: 
  // cutadaptAdapterR1  = 'CTGTCTCTTATACACATCTCCGAGCCCACGAGAC'
  // cutadaptAdapterR2  = 'CTGTCTCTTATACACATCTGACGCTGCCGACGA'


  ref_fa = params.reference_cache+'/human/GRCh38/genome/sequence/gatk/Homo_sapiens_assembly38.fasta'
  ref_fa_indices = params.reference_cache+'/human/GRCh38/genome/indices/gatk/bwa/Homo_sapiens_assembly38.fasta'
  mismatch_penalty = "8"

  masterfile = params.reference_cache+'/human/GRCh38/supporting_files/capture_kit_files/IDT/xGen_sampleID_amplicon/hg38Lifted_xGen_masterfile.txt'

  amplicon_primer_intervals = params.reference_cache+'/human/GRCh38/supporting_files/capture_kit_files/IDT/xGen_sampleID_amplicon/hg38Lifted_xGen_SampleID_primers.interval_list'
  amplicon_target_intervals = params.reference_cache+'/human/GRCh38/supporting_files/capture_kit_files/IDT/xGen_sampleID_amplicon/hg38Lifted_xGen_SampleID_merged_targets.interval_list'

  amplicon_rsid_targets = params.reference_cache+'/human/GRCh38/supporting_files/capture_kit_files/IDT/xGen_sampleID_amplicon/hg38Lifted_xGen_SampleID_merged_targets.txt'

  gold_std_indels = params.reference_cache+'/human/GRCh38/genome/annotation/snps_indels/Mills_and_1000G_gold_standard.indels.hg38.vcf.gz'
  phase1_1000G = params.reference_cache+'/human/GRCh38/genome/annotation/snps_indels/1000G_phase1.snps.high_confidence.hg38.vcf.gz'
  dbSNP = params.reference_cache+'/human/GRCh38/genome/annotation/snps_indels/dbsnp_151.vcf.gz'
  dbSNP_index = params.reference_cache+'/human/GRCh38/genome/annotation/snps_indels/dbsnp_151.vcf.gz.tbi'

  ploidy_val = '2' // variable in haplotypecaller. not required for amplicon, but present in module. 
  target_gatk = params.reference_cache+'/human/GRCh38/supporting_files/capture_kit_files/IDT/xGen_sampleID_amplicon/hg38Lifted_xGen_SampleID_merged_targets.bed' 
  call_val = "50.0"

  bwa_min_score = null
}