//====================  Nextflow/Container Config  ==========

manifest {
    name = "ancestry"
    description = 'Pipeline for Genetic Ancestry Determination'
    author = 'Anuj Srivastava, Carolyn Paisie, Barry Guglielmo, Michael Lloyd, Brian Sanderson Copyright Jackson Laboratory 2021'
}

params {
  // Shared params  
  sample_folder = null
  csv_input = null
    
  // Reference fasta
  ref_fa = '/projects/omics_share/human/GRCh38/genome/sequence/gatk/Homo_sapiens_assembly38.fasta'

  // SNP Targets
  genotype_targets = '/projects/compsci/omics_share/human/GRCh38/supporting_files/ancestry_panel/snp_panel_v2_targets_annotations.snpwt.bed.gz'
  snpID_list = '/projects/compsci/omics_share/human/GRCh38/supporting_files/ancestry_panel/snp_panel_v2.list'
  snp_annotations = '/projects/compsci/omics_share/human/GRCh38/supporting_files/ancestry_panel/snp_panel_v2_targets_annotations.snpwt.bed.gz'

  // SNP Weights Input
  snpweights_panel = '/projects/compsci/omics_share/human/GRCh38/supporting_files/ancestry_panel/ancestry_panel_v2.snpwt'

  tmpdir = "/flashscratch/${USER}"
  gen_org = 'human' // Human only
  genome_build = 'GRCh38' // GRCh38 only.
}