//====================  Nextflow/Container Config  ==========

manifest {
    name = "ancestry"
    description = 'Pipeline for Genetic Ancestry Determination'
}

params {
  csv_input = null
    
  // Reference fasta
  ref_fa = params.reference_cache+'/human/GRCh38/genome/sequence/gatk/Homo_sapiens_assembly38.fasta'

  // SNP Targets
  genotype_targets = params.reference_cache+'/human/GRCh38/supporting_files/ancestry_panel/snp_panel_v2_targets_annotations.snpwt.bed.gz'
  snpID_list = params.reference_cache+'/human/GRCh38/supporting_files/ancestry_panel/snp_panel_v2.list'
  snp_annotations = params.reference_cache+'/human/GRCh38/supporting_files/ancestry_panel/snp_panel_v2_targets_annotations.snpwt.bed.gz'

  // SNP Weights Input
  snpweights_panel = params.reference_cache+'/human/GRCh38/supporting_files/ancestry_panel/ancestry_panel_v2.snpwt'

  gen_org = 'human' // Human only
  genome_build = 'GRCh38' // GRCh38 only.
  sample_folder = null // not used in this workflow
}