//====================  Nextflow/Container Config  ==========

manifest {
    name = "atac"
    description = 'Pipeline for ATAC Seq Samples'
}

// Default to Mouse, If gen_org == 'human' parameters are overwritten with values
// in the "Defaults for Human" section below

params {
  // Shared params
  gen_org = 'mouse' 
  genome_build = 'GRCm38' // GRCm39
  extension='.fastq.gz'
  pattern="*_R{1,2}*"
  sample_folder = null
  read_type = 'PE' // 'SE'
  concat_lanes = false
  download_data = false
  csv_input = null

  multiqc_config = "${projectDir}/bin/shared/multiqc/atac_multiqc.yaml"

  // Reference 
  bowtie2Index = params.reference_cache+'/mouse/GRCm38/genome/indices/ensembl/v102/bowtie2/Mus_musculus.GRCm38.dna.primary_assembly.fa'
  chain = null

  // Please see : https://deeptools.readthedocs.io/en/develop/content/feature/effectiveGenomeSize.html
  effective_genome_size = '2652783500'
 
  cutadaptMinLength  = 20
  cutadaptQualCutoff = 20
  cutadaptAdapterR1  = 'CTGTCTCTTATACACATCTCCGAGCCCACGAGAC'
  cutadaptAdapterR2  = 'CTGTCTCTTATACACATCTGACGCTGCCGACGA'

  bowtieVSensitive   = true 
  bowtieMaxInsert    = 1000 

}

 
if (params.gen_org=='human'){
  
  // Reference
  params.genome_build = 'GRCh38'
  params.bowtie2Index = params.reference_cache+'/human/GRCh38/genome/indices/gatk/bowtie2/hg38_noalt'
}

// Defaults for GRCm39 build
if (params.genome_build=='GRCm39'){
  // Reference
  params.bowtie2Index = params.reference_cache+'/mouse/GRCm39/genome/indices/ensembl/v105/bowtie2/Mus_musculus.GRCm39.dna.primary_assembly.fa'
  params.effective_genome_size = '2654621783'

}
