//====================  Nextflow/Container Config  ==========

manifest {
    name = "atac"
    description = 'Pipeline for ATAC Seq Samples'
    author = 'Sai Lek, Copyright Jackson Laboratory 2022'
    version = "0.1.0"
}

// Default to Mouse, If gen_org == 'human' parameters are overwritten with values
// in the "Defaults for Human" section below

params {
  // Shared params
  extension='.fastq.gz'
  pattern="*_R{1,2}*"
 
  cutadaptMinLength  = 20
  cutadaptQualCutoff = 20
  cutadaptAdapterR1  = "CTGTCTCTTATACACATCTCCGAGCCCACGAGAC"
  cutadaptAdapterR2  = "CTGTCTCTTATACACATCTGACGCTGCCGACGA"

  bowtieVSensitive   = true 
  bowtieMaxInsert    = 1000 

  threads            = 1
  tmpdir             = "/fastscratch/${USER}" 
}

if (params.gen_org=='mouse'){

  // Reference
  params.bowtieIndex = '/projects/churchill-lab/projects/CubeProject/PseudoGenomes/g2gtools_v1_pseudogenomes/CAST_EiJ/bowtie2/CAST_EiJ_unplaced_unloc'
  params.chain = '/projects/churchill-lab/projects/CubeProject/PseudoGenomes/g2gtools_v1_pseudogenomes/CAST_EiJ/REF-to-CAST_EiJ.chain'
  params.processed_bam_extension = "sorted.rmDup.rmChrM.rmMulti.filtered.shifted.mm10" //NOTE: add .bam or .ba*
  params.g = 'mm'
} 
 
if (params.gen_org=='human'){
  
  // Reference 
  params.bowtieIndex = '/projects/churchill-lab/projects/CubeProject/ATAC_Seq/Pipeline_Dev/human_refs/hg38/bowtie2_noalt/hg38_noalt'
  //params.chain = '/projects/omics_share/human/GRCh38/genome/indices/gatk/bwa/Homo_sapiens_assembly38.fasta.64'
  params.g = 'hs'
}



