//====================  Nextflow/Container Config  ==========

manifest {
    name = "chipseq"
    description = 'Pipeline for ChIP-Seq Samples'
    author = 'Sai Lek, Copyright Jackson Laboratory 2022'
    version = "0.1.0"
}


// Default to Mouse, If gen_org == 'human' parameters are overwritten with values
// in the "Defaults for Human" section below

params {
  // Shared params
  gen_org = 'mouse' 
  extension='.fastq.gz'
  pattern="*_R{1,2}*"
  read_type = 'PE' // 'SE'


  // Global default params, used in configs

  // Options: Generic
  input = '/projects/compsci/vmp/slek/ref/design.csv'
  fragment_size = 200
  fingerprint_bins = 500000

  gtf   = '/projects/compsci/vmp/slek/ref/genes.gtf'
  gene_bed = '/projects/compsci/vmp/slek/ref/genes.bed'


  // Not mandatory but permits the pipeline to run through peak-calling steps
  macs_gsize = 1.2e7

  // For speed to avoid CI time-out
  fingerprint_bins = 100
  blacklist   = ""

  // Trimming & Bismark Setting
  non_directional = ''

  // Trim-Galore settings.
  trimLength = '30'
  qualThreshold = '30'
  adapOverlap = '1'
  adaptorSeq = 'AGATCGGAAGAGC'

  // bwa parameters
  ref_fa = '/projects/compsci/vmp/slek/ref/BWAIndex/genome.fa'
  ref_fa_indices = '/projects/compsci/vmp/slek/ref/BWAIndex/genome.fa'
  mismatch_penalty = ""
  bwa_min_score = false

  tmpdir = "/fastscratch/${USER}"

  // samtools merge bam filter parameters
  keep_dups = false
  keep_multi_map = false

  // bamtools filter
  bamtools_filter_pe_config = "/projects/compsci/vmp/slek/ref/bamtools/bamtools_filter_pe.json"
  bamtools_filter_se_config = "/projects/compsci/vmp/slek/ref/bamtools/bamtools_filter_se.json"

  // preseq paramters
  skip_preseq = false

  // Options: Peaks
  narrow_peak = false
  broad_cutoff = 0.1
  macs_fdr = false
  macs_pvalue = false
  min_reps_consensus = 1
  save_macs_pileup = false
  skip_peak_qc = false
  skip_peak_annotation = false
  skip_consensus_peaks = false

  // Options: Differential analysis
  deseq2_vst = false
  skip_diff_analysis = false

}
