//====================  Nextflow/Container Config  ==========

manifest {
    name = "chipseq"
    description = 'Pipeline for ChIP-Seq Samples'
    author = 'Sai Lek, Copyright Jackson Laboratory 2022'
    version = "0.1.0"
}


//process.container = 'nfcore/chipseq:1.2.2'
process.container = '/projects/compsci/vmp/slek/containers/nfcore-chipseq-1.2.2.img'


// Default to Mouse, If gen_org == 'human' parameters are overwritten with values
// in the "Defaults for Human" section below

params {
  // Shared params
  gen_org = 'mouse' 
  extension='.fastq.gz'
  pattern="*_R{1,2}*"
  read_type = 'PE' // 'SE'
  concat_lanes = false


  // Global default params, used in configs

  // Options: Generic
  // input = './design.csv'
  // input = 'https://raw.githubusercontent.com/nf-core/test-datasets/chipseq/design.csv'
  input = '/projects/compsci/vmp/slek/ref/design.csv'
  single_end = false
  seq_center = false
  fragment_size = 200
  fingerprint_bins = 500000

  fasta = '/projects/compsci/vmp/slek/ref/genome.fa'
  gtf   = '/projects/compsci/vmp/slek/ref/genes.gtf'
  gene_bed = '/projects/compsci/vmp/slek/ref/genes.bed'


  // Not mandatory but permits the pipeline to run through peak-calling steps
  macs_gsize = 1.2e7

  // For speed to avoid CI time-out
  fingerprint_bins = 100
  blacklist   = ""

  // Trimming & Bismark Setting
  non_directional = ''

  // Trim-Galore settings.
  trimLength = '30'
  qualThreshold = '30'
  adapOverlap = '1'
  adaptorSeq = 'AGATCGGAAGAGC'

  // bwa parameters
  ref_fa = '/projects/compsci/vmp/slek/ref/BWAIndex/genome.fa'
  ref_fa_indices = '/projects/compsci/vmp/slek/ref/BWAIndex/genome.fa'
  mismatch_penalty = ""
  bwa_min_score = false

  tmpdir = "/fastscratch/${USER}"

  // samtools merge bam filter parameters
  keep_dups = false
  keep_multi_map = false

  // bamtools filter
  bamtools_filter_pe_config = "/projects/compsci/vmp/slek/ref/bamtools/bamtools_filter_pe.json"
  bamtools_filter_se_config = "/projects/compsci/vmp/slek/ref/bamtools/bamtools_filter_se.json"

  // preseq paramters
  skip_preseq = false


}
