//====================  Nextflow/Container Config  ==========

manifest {
    name = "chipseq"
    description = 'Pipeline for ChIP-Seq Samples. Adapted from: https://nf-co.re/chipseq, which is available under MIT License'
}


// Default to Mouse, If gen_org == 'human' parameters are overwritten with values
// in the "Defaults for Human" section below

params {
  // Shared params
  gen_org = 'mouse' // human 
  read_type = 'PE' // 'SE'
  genome_build = 'GRCm38' // 'GRCm38' or 'GRCm39'

  // Reference fasta
  ref_fa = params.reference_cache+'/mouse/GRCm38/genome/sequence/ensembl/v102/Mus_musculus.GRCm38.dna.primary_assembly.fa'
  ref_fa_indices=params.reference_cache+'/mouse/GRCm38/genome/indices/ensembl/v102/bwa/Mus_musculus.GRCm38.dna.primary_assembly.fa'

  // GTF & BED annotation
  gtf   = params.reference_cache+'/mouse/GRCm38/transcriptome/annotation/ensembl/v102/Mus_musculus.GRCm38.102.gtf'
  gene_bed = params.reference_cache+'/mouse/GRCm38/transcriptome/annotation/ensembl/v102/Mus_musculus.GRCm38.102.bed'

  // Global default params, used in configs

  // Options: Generic
  input = ''         
  fragment_size = 200
  fingerprint_bins = 500000

  // Mac2 Effective Genome Size - based on GRCm38 ensembl primary_assembly chroms and MT only
  macs_gsize = 2725537669

  // Blacklist regions: 
  blacklist   = ""

  // Trim-Galore settings.
  trimLength = '30'
  qualThreshold = '30'
  adapOverlap = '1'
  adaptorSeq = 'AGATCGGAAGAGC'

  // bwa parameters
  mismatch_penalty = "4" //default bwa setting
  bwa_min_score = false

  // samtools merge bam filter parameters
  keep_dups = false
  keep_multi_map = false

  // bamtools filter
  bamtools_filter_pe_config  = "$projectDir/bin/shared/bamtools/bamtools_filter_pe.json"
  bamtools_filter_se_config  = "$projectDir/bin/shared/bamtools/bamtools_filter_se.json"

  // preseq paramters
  skip_preseq = false

  // Options: Peaks
  narrow_peak = false
  broad_cutoff = 0.05
  macs_fdr = false
  macs_pvalue = false
  min_reps_consensus = 1
  save_macs_pileup = false
  skip_peak_qc = false
  skip_peak_annotation = false
  skip_consensus_peaks = false

  // Options: Differential analysis
  deseq2_vst = false
  skip_diff_analysis = false

  // MultiQC
  multiqc_config = "${projectDir}/bin/shared/multiqc/chipseq.yaml"

  extension = null // not used in this workflow
  pattern = null // not used in this workflow
  concat_lanes = false // not used in this workflow
  non_directional = '' // not used in this workflow

}

if (params.gen_org=='human'){

  params.genome_build = 'GRCh38'

  // Mac2 Effective Genome Size - based on GRCh38 GATK assembly chroms and MT only
  params.macs_gsize = 3088286401

  // Reference fasta
  params.ref_fa = params.reference_cache+'/human/GRCh38/genome/sequence/gatk/Homo_sapiens_assembly38.fasta'
  params.ref_fa_indices = params.reference_cache+'/human/GRCh38/genome/indices/gatk/bwa/Homo_sapiens_assembly38.fasta'

  // GTF & BED annotation
  params.gtf = params.reference_cache+'/human/GRCh38/transcriptome/annotation/ensembl/v104/Homo_sapiens.GRCh38.104.chr.GATKchrom.gtf' 
  params.gene_bed = params.reference_cache+'/human/GRCh38/transcriptome/annotation/ensembl/v104/Homo_sapiens.GRCh38.104.GATKchrom.bed'
}

// Defaults for GRCm39 build
if (params.genome_build=='GRCm39'){

  // Mac2 Effective Genome Size - based on GRCm38 ensembl primary_assembly chroms and MT only
  params.macs_gsize = 2723431143

  // Reference fasta
  params.ref_fa = params.reference_cache+'/mouse/GRCm39/genome/sequence/ensembl/v105/Mus_musculus.GRCm39.dna.primary_assembly.fa'
  params.ref_fa_indices = params.reference_cache+'/mouse/GRCm39/genome/indices/ensembl/v105/bwa/Mus_musculus.GRCm39.dna.primary_assembly.fa'

  // GTF & BED annotation
  gtf   = params.reference_cache+'/mouse/GRCm39/transcriptome/annotation/ensembl/v105/Mus_musculus.GRCm39.105.gtf'
  gene_bed = params.reference_cache+'/mouse/GRCm39/transcriptome/annotation/ensembl/v105/Mus_musculus.GRCm39.105.bed'

}