//====================  Nextflow/Container Config  ==========

manifest {
    name = "cnv_array"
    description = 'Pipeline for processing Copy Number Variation from Illumina Genotype Array.'
    author = 'Tejas Temker, Michael Lloyd, Copyright Jackson Laboratory 2024'
    version = "0.1.0"
}

params {
    bpm_file = '/projects/compsci/omics_share/human/GRCh38/supporting_files/cnv_array/HumanCytoSNP-12v2-1_L1.bpm'
    egt_file = '/projects/compsci/omics_share/human/GRCh38/supporting_files/cnv_array/HumanCytoSNP-12v2-1_L.egt'

    csv_file = 'path/to/default.csv'
    fasta_file = 'path/to/default.fasta'
    tsv_file = 'path/to/default.tsv'
    pubdir = 'path/to/output'
}
