manifest {
    name = "cnv_array"
    description = 'Pipeline for processing Copy Number Variation from Illumina Genotype Array.'
    author = 'Tejas Temker, Michael Lloyd, Copyright Jackson Laboratory 2024'
    version = "0.1.0"
}

params {
    gtc_csv = '/projects/compsci/omics_share/human/GRCh38/supporting_files/cnv_array/HumanCytoSNP-12v2-1_L1.csv'
    
    bpm_file = '/projects/compsci/omics_share/human/GRCh38/supporting_files/cnv_array/HumanCytoSNP-12v2-1_L1.bpm'
    egt_file = '/projects/compsci/omics_share/human/GRCh38/supporting_files/cnv_array/HumanCytoSNP-12v2-1_L.egt'
    idat_folder = '/home/temket/cnv_workflow/data/raw_idat/'
    ref_fa = '/projects/compsci/omics_share/human/GRCh38/genome/sequence/gatk/Homo_sapiens_assembly38.fasta'
    tsv_file = '/home/temket/cnv_workflow/output/bcftools_convert.tsv'
    snp_platform = 'IlluminaCytoSNP'
    GC_file = '/projects/compsci/omics_share/human/GRCh38/supporting_files/cnv_array/HumanCytoSNP-12v2-1_GCcontent_validSNPloci.txt'
    RT_file = '/projects/compsci/omics_share/human/GRCh38/supporting_files/cnv_array/HumanCytoSNP-12v2-1_ReplicationTiming_SNPloci_hg38.txt'
    chrArm = '/projects/compsci/omics_share/human/GRCh38/supporting_files/cnv_array/GRCh38_chromosome_arm.txt'
    cnvGeneFile = '/projects/compsci/omics_share/human/GRCh38/supporting_files/cnv_array/biomaRt_GRCh38_ensemblv102_CNVgeneAnnotations_primaryChroms.txt'
}
