//====================  Nextflow/Container Config  ==========

manifest {
    name = "emase"
    description = 'Pipeline for Running EMASE'
}

params {
    // Shared params
    genome_build = 'GRCm39'
    extension='.fastq.gz'
    pattern="*_R{1,2}*"
    read_type = 'PE' // 'SE'
    concat_lanes = false
    concat_sampleID_delim = '_' // only used if concat_lanes = true
    concat_sampleID_positions = 1 // only used if concat_lanes = true
    download_data = null
    csv_input = null
    
    // Reference fasta
    bowtie_index = params.reference_cache+'/mouse/GRCm39/transcriptome/indices/imputed/rel_2112_v8/bowtie/bowtie.transcripts'
    transcripts_info = params.reference_cache+'/mouse/GRCm39/supporting_files/emase_gbrs/rel_2112_v8/emase.fullTranscripts.info'
    gbrs_strain_list = "A,B,C,D,E,F,G,H"

    gene2transcript_csv = params.reference_cache+'/mouse/GRCm39/supporting_files/emase_gbrs/rel_2112_v8/emase.gene2transcripts.tsv'
    full_transcript_info = params.reference_cache+'/mouse/GRCm39/supporting_files/emase_gbrs/rel_2112_v8/emase.pooled.fullTranscripts.info'

    emase_model = 4  
    // [ choices: 1,2,3,4 ]
    //   1: reads are apportioned among genes first,
    //       then between alleles, and then among isoforms.
    //   2: reads are apportioned among genes first,
    //       then among isoforms, and then between alleles.
    //   3: reads are apportioned among genes first,
    //       then among each isoform-allele combination
    //       which are treated equally.
    //   4: assumes no hierarchy and multi-reads are
    //       apportioned equally among genes, isoforms, and
    //       alleles

    pubdir = "/flashscratch/${USER}" 
}

if (params.genome_build=='GRCm38'){

    // Reference fasta
    params.bowtie_index = params.reference_cache+'/mouse/GRCm38/supporting_files/emase_gbrs/rel_1505_v5/transcript_reference/transcripts'
    params.transcripts_info = params.reference_cache+'/mouse/GRCm38/supporting_files/emase_gbrs/rel_1505_v5/ref.transcripts.info'

    params.gene2transcript_csv = params.reference_cache+'/mouse/GRCm38/supporting_files/emase_gbrs/rel_1505_v5/ref.gene2transcripts.tsv'
    params.full_transcript_info = params.reference_cache+'/mouse/GRCm38/supporting_files/emase_gbrs/rel_1505_v5/gbrs.hybridized.targets.info'

}
