//====================  Nextflow/Container Config  ==========

manifest {
    name = "emase"
    description = 'Pipeline for Running EMASE'
    author = 'Michael Lloyd, Copyright Jackson Laboratory 2021'
}

params {
    // Shared params
    extension='.fastq.gz'
    pattern="*_R{1,2}*"
    read_type = 'PE' // 'SE'
    concat_lanes = false

    // Reference fasta
    bowtie_index = ''
    transcripts_info = '/projects/churchill-lab/projects/GBRS_GRCm39/eight_way_transcriptome/GRCm39/temp/ref/emase.pooled.transcripts.info'
    gbrs_strain_list = "A,B,C,D,E,F,G,H"

    pubdir = "/fastscratch/${USER}" 

    tmpdir = "/fastscratch/${USER}" 
}
