//====================  Nextflow/Container Config  ==========

manifest {
    name = "gbrs"
    description = 'Pipeline for Running GBRS'
    author = 'Michael Lloyd, Copyright Jackson Laboratory 2023'
}

params {
    // Shared params
    extension='.fastq.gz'
    pattern="*_R{1,2}*"
    read_type = 'PE' // 'SE'
    concat_lanes = false
    concat_sampleID_delim = '_' // only used if concat_lanes = true
    concat_sampleID_positions = 1 // only used if concat_lanes = true

    sample_generation = 2 // 0-100 possible values here. 
    sample_sex = 'F' // 'F' | 'M'

    // Reference fasta
    bowtie_index = ''
    transcripts_info = '/projects/churchill-lab/projects/CubeProject/GBRS_pipeline/AllSuppFiles/R84-REL1505/ref.transcripts.info'
    gbrs_strain_list = "A,B,C,D,E,F,G,H"

    gene2transcript_csv = '/projects/churchill-lab/projects/CubeProject/GBRS_pipeline/AllSuppFiles/R84-REL1505/ref.gene2transcripts.tsv'
    full_transcript_info = '/projects/churchill-lab/projects/CubeProject/GBRS_pipeline/AllSuppFiles/R84-REL1505/gbrs.hybridized.targets.info'

    emase_model = 4  
    // [ choices: 1,2,3,4 ]
    //   1: reads are apportioned among genes first,
    //       then between alleles, and then among isoforms.
    //   2: reads are apportioned among genes first,
    //       then among isoforms, and then between alleles.
    //   3: reads are apportioned among genes first,
    //       then among each isoform-allele combination
    //       which are treated equally.
    //   4: assumes no hierarchy and multi-reads are
    //       apportioned equally among genes, isoforms, and
    //       alleles


    // GBRS 
    emission_prob_avecs = '/projects/churchill-lab/projects/CubeProject/GBRS_pipeline/AllSuppFiles/R84-REL1505/avecs.npz'
    trans_prob_dir = '/projects/churchill-lab/projects/CubeProject/GBRS_pipeline/AllSuppFiles/R84-REL1505/'
    gene_position_file = '/projects/churchill-lab/projects/CubeProject/GBRS_pipeline/AllSuppFiles/R84-REL1505/ref.gene_pos.ordered_0.1.6.npz'
    genotype_grid = '/projects/churchill-lab/projects/CubeProject/GBRS_pipeline/AllSuppFiles/R84-REL1505/ref.genome_grid.69k.noYnoMT_KBEdit.txt'
    founder_hex_colors = '/projects/churchill-lab/projects/GBRS_GRCm39/founder.hexcolor.info'

    base_ref_index_fai = '/projects/churchill-lab/projects/CubeProject/GBRS_pipeline/AllSuppFiles/R84-REL1505/ref.fa.fai'

    gbrs_expression_threshold = 1.5 // default is 1.5. The level of expression in a sample required to include the gene. 
    gbrs_sigma = 0.12 // GBRS scaling factor. Default should be used unless you understand the parameter. 

    pubdir = "/fastscratch/${USER}" 

    tmpdir = "/fastscratch/${USER}" 

    keep_intermediate = false



}

/*
   // Shared params
    extension='.fastq.gz'
    pattern="*_R{1,2}*"
    read_type = 'PE' // 'SE'
    concat_lanes = false
    concat_sampleID_delim = '_' // only used if concat_lanes = true
    concat_sampleID_positions = 1 // only used if concat_lanes = true

    sample_generation = 2 // 0-100 possible values here. 
    sample_sex = 'F' // 'F' | 'M'

    // Reference fasta
    bowtie_index = ''
    transcripts_info = '/projects/churchill-lab/projects/GBRS_GRCm39/eight_way_transcriptome/primary_assembly/emase/emase.fullTranscripts.info'
    gbrs_strain_list = "A,B,C,D,E,F,G,H"

    gene2transcript_csv = '/projects/churchill-lab/projects/GBRS_GRCm39/eight_way_transcriptome/primary_assembly/emase/emase.gene2transcripts.tsv'
    full_transcript_info = '/projects/churchill-lab/projects/GBRS_GRCm39/eight_way_transcriptome/primary_assembly/emase/emase.pooled.fullTranscripts.info'

    emase_model = 4  
    // [ choices: 1,2,3,4 ]
    //   1: reads are apportioned among genes first,
    //       then between alleles, and then among isoforms.
    //   2: reads are apportioned among genes first,
    //       then among isoforms, and then between alleles.
    //   3: reads are apportioned among genes first,
    //       then among each isoform-allele combination
    //       which are treated equally.
    //   4: assumes no hierarchy and multi-reads are
    //       apportioned equally among genes, isoforms, and
    //       alleles


    // GBRS 
    emission_prob_avecs = '/projects/churchill-lab/projects/GBRS_GRCm39/emission_probabilities/gbrs_emissions_svenson_liver.avecs.npz'
    trans_prob_dir = '/projects/churchill-lab/projects/GBRS_GRCm39/transition_probabilities/nextflow_output'
    gene_position_file = '/projects/churchill-lab/projects/GBRS_GRCm39/transition_probabilities/nextflow_output/ref.gene_pos.ordered_ensBuild_105.npz'

    base_ref_index_fai = '/projects/churchill-lab/projects/GBRS_GRCm39/g2gtools_convert/primary_assembly_results/g2gtools/Mus_musculus.GRCm39.dna.primary_assembly.fa.fai'

    gbrs_expression_threshold = 1.5 // default is 1.5. The level of expression in a sample required to include the gene. 
    gbrs_sigma = 0.12 // GBRS scaling factor. Default should be used unless you understand the parameter. 

    pubdir = "/fastscratch/${USER}" 

    tmpdir = "/fastscratch/${USER}" 

    keep_intermediate = false
*/