//====================  Nextflow/Container Config  ==========

manifest {
    name = "gbrs"
    description = 'Pipeline for Running GBRS'
}

params {
    // Shared params
    extension='.fastq.gz'
    pattern="*_R{1,2}*"
    genome_build = "GRCm39"
    read_type = 'PE' // 'SE'
    concat_lanes = false
    concat_sampleID_delim = '_' // only used if concat_lanes = true
    concat_sampleID_positions = 1 // only used if concat_lanes = true
    csv_input = null
    download_data = null

    sample_generation = null // 0-100 possible values here. 
    sample_sex = null // 'F' | 'M'

    // Reference fasta
    bowtie_index = params.reference_cache+'/mouse/GRCm39/transcriptome/indices/imputed/rel_2112_v8/bowtie/bowtie.transcripts'
    transcripts_info = params.reference_cache+'/mouse/GRCm39/supporting_files/emase_gbrs/rel_2112_v8/emase.fullTranscripts.info'
    gbrs_strain_list = "A,B,C,D,E,F,G,H"

    gene2transcript_csv = params.reference_cache+'/mouse/GRCm39/supporting_files/emase_gbrs/rel_2112_v8/emase.gene2transcripts.tsv'
    full_transcript_info = params.reference_cache+'/mouse/GRCm39/supporting_files/emase_gbrs/rel_2112_v8/emase.pooled.fullTranscripts.info'

    emase_model = 4  
    // [ choices: 1,2,3,4 ]
    //   1: reads are apportioned among genes first,
    //       then between alleles, and then among isoforms.
    //   2: reads are apportioned among genes first,
    //       then among isoforms, and then between alleles.
    //   3: reads are apportioned among genes first,
    //       then among each isoform-allele combination
    //       which are treated equally.
    //   4: assumes no hierarchy and multi-reads are
    //       apportioned equally among genes, isoforms, and
    //       alleles


    // GBRS 
    emission_prob_avecs = params.reference_cache+'/mouse/GRCm39/supporting_files/emase_gbrs/rel_2112_v8/gbrs_emissions_all_tissues.avecs.npz'
    trans_prob_dir = params.reference_cache+'/mouse/GRCm39/supporting_files/emase_gbrs/rel_2112_v8/transition_probabilities'
    gene_position_file = params.reference_cache+'/mouse/GRCm39/supporting_files/emase_gbrs/rel_2112_v8/ref.gene_pos.ordered_ensBuild_105.npz'
    genotype_grid = params.reference_cache+'/mouse/GRCm39/supporting_files/emase_gbrs/rel_2112_v8/ref.genome_grid.GRCm39.tsv'
    founder_hex_colors = params.reference_cache+'/mouse/GRCm39/supporting_files/emase_gbrs/rel_2112_v8/founder.hexcolor.info'

    base_ref_index_fai = params.reference_cache+'/mouse/GRCm39/genome/sequence/ensembl/v105/Mus_musculus.GRCm39.dna.primary_assembly.fa.fai'

    gbrs_expression_threshold = 1.5 // default is 1.5. The level of expression in a sample required to include the gene. 
    gbrs_sigma = 0.12 // GBRS scaling factor. Default should be used unless you understand the parameter. 

}

if (params.genome_build=='GRCm38'){

    // Reference fasta
    params.bowtie_index = params.reference_cache+'/mouse/GRCm38/supporting_files/emase_gbrs/rel_1505_v5/transcript_reference/transcripts'
    params.transcripts_info = params.reference_cache+'/mouse/GRCm38/supporting_files/emase_gbrs/rel_1505_v5/ref.transcripts.info'

    params.gene2transcript_csv = params.reference_cache+'/mouse/GRCm38/supporting_files/emase_gbrs/rel_1505_v5/ref.gene2transcripts.tsv'
    params.full_transcript_info = params.reference_cache+'/mouse/GRCm38/supporting_files/emase_gbrs/rel_1505_v5/gbrs.hybridized.targets.info'

    // GBRS 
    params.emission_prob_avecs = params.reference_cache+'/mouse/GRCm38/supporting_files/emase_gbrs/rel_1505_v5/avecs.npz'
    params.trans_prob_dir = params.reference_cache+'/mouse/GRCm38/supporting_files/emase_gbrs/rel_1505_v5/tranprob'
    params.gene_position_file = params.reference_cache+'/mouse/GRCm38/supporting_files/emase_gbrs/rel_1505_v5/ref.gene_pos.ordered_0.1.6.npz'
    params.genotype_grid = params.reference_cache+'/mouse/GRCm38/supporting_files/emase_gbrs/rel_1505_v5/ref.genome_grid.69k.noYnoMT_KBEdit.txt'
    params.founder_hex_colors = params.reference_cache+'/mouse/GRCm38/supporting_files/emase_gbrs/rel_1505_v5/founder.hexcolor.info'

    params.base_ref_index_fai = params.reference_cache+'/mouse/GRCm38/supporting_files/emase_gbrs/rel_1505_v5/ref.fa.fai'

}
