//====================  Nextflow/Container Config  ==========

manifest {
    name = "prepare_rnaseq_index"
    description = 'Pipeline for Generating RNASeq Index Files'
}

params {
  gen_org = 'mouse'
  genome_build = 'GRCm38'
  ref_fa = params.reference_cache+'/mouse/GRCm38/genome/sequence/ensembl/v102/Mus_musculus.GRCm38.dna.primary_assembly.fa'
  ref_gtf = params.reference_cache+'/mouse/GRCm38/transcriptome/annotation/ensembl/v102/Mus_musculus.GRCm38.102.gtf'
  custom_gene_fasta = null
}

if (params.gen_org=='human' || params.genome_build=='GRCh38') {
  params.gen_org = 'human'
  params.genome_build = 'GRCh38'
  params.ref_fa = params.reference_cache+'/human/GRCh38/genome/sequence/ensembl/v104/Homo_sapiens.GRCh38.dna.primary_assembly.fa'
  params.ref_gtf = params.reference_cache+'/human/GRCh38/transcriptome/annotation/ensembl/v104/Homo_sapiens.GRCh38.104.gtf'
  params.custom_gene_fasta = null
}

if (params.genome_build=='GRCm39'){
  params.genome_build = 'GRCm39'
  params.ref_fa = params.reference_cache+'/mouse/GRCm39/genome/sequence/ensembl/v105/Mus_musculus.GRCm39.dna.primary_assembly.fa'
  params.ref_gtf = params.reference_cache+'/mouse/GRCm39/transcriptome/annotation/ensembl/v105/Mus_musculus.GRCm39.105.gtf'
}
