//====================  Nextflow/Container Config  ==========

manifest {
    name = "prepare_emase"
    description = 'Pipeline for Generating Pseudoreference files'
    author = 'Michael Lloyd, Copyright Jackson Laboratory 2023'
}

params {

  snp_vcf = ''
  indel_vcf = ''
  primary_reference_fasta = ''
  primary_reference_gtf = ''
  strain = ''
  genome_version = ''

  append_chromosomes = true 
  /* 
    Add back any full chromosomes that are dropped due to lack of variants in the SNP or INDEL file. 
    Example: No variants called on chrM, but chrM should be present in the GTF file for downstream EMASE/GBRS use.
             With no variants present, in the G2Gtools convert step, chrM would be dropped into the 'unmapped' file.
             If `append_chromosomes` == true, then all fully missing chromosomes will be added back to the GTF in the 
             convert step. The appended annotations in the GTF will be in the source genome coordinates, 
             as no SNPs/InDELs were present. 
  */

  // Universal g2gtools option
  debug = false

  // VCI creation options
  diploid = false // Create diploid VCI
  keep_fails = false // Keep track of VCF lines that could not be converted to VCI file
  pass_only = false // Use only VCF lines that have a PASS for the filter value
  quality_filter = '' // Filter on quality, e.g., FI=PASS

  // Patch and Transform options
  region = '' // <seqid:start-end>. If using this option, the bed option can not be used.
  bed = '' // BED file with regions for extraction. This option cannot be used with region.

  pubdir = "/fastscratch/${USER}" 

  tmpdir = "/fastscratch/${USER}"
}
