//====================  Nextflow/Container Config  ==========

manifest {
    name = "prepare_emase"
    description = 'Pipeline for Generating Pseudoreference files'
    author = 'Michael Lloyd, Copyright Jackson Laboratory 2021'
}

params {

  snp_vcf = ''
  indel_vcf = ''
  primary_reference_fasta = ''
  primary_reference_gtf = ''
  strain = ''
  genome_version = ''

  // Universal g2gtools option
  debug = false

  // VCI creation options
  diploid = false // Create diploid VCI
  keep_fails = false // Keep track of VCF lines that could not be converted to VCI file
  pass_only = false // Use only VCF lines that have a PASS for the filter value
  quality_filter = '' // Filter on quality, e.g., FI=PASS

  // Patch and Transform options
  region = '' // <seqid:start-end>. If using this option, the bed option can not be used.
  bed = '' // BED file with regions for extraction. This option cannot be used with region.

  // // Convert option
  // reverse = false // THIS OPTION SHOULD NOT CHANGE. Included to avoid error throwing. 


  pubdir = "/fastscratch/${USER}" 

  tmpdir = "/fastscratch/${USER}" 
}
