params {
    data_type = null
    genome_build = "GRCm38"
    fasta = '/projects/omics_share/mouse/GRCm38/genome/sequence/ensembl/v102/Mus_musculus.GRCm38.dna.primary_assembly.fa'
    fasta_index = '/projects/omics_share/mouse/GRCm38/genome/sequence/ensembl/v102/Mus_musculus.GRCm38.dna.primary_assembly.fa.fai'
    fastq1 = null
    bam = null
    sampleID = null
    minimap2_index = null
    keep_intermediate = false
    pbmode = null
    pbsv_tandem = true
    tandem_repeats = "/ref_data/ucsc_mm10_trf_chr_sorted.bed"
    sv_ins_ref = "/ref_data/variants_freeze5_sv_INS_mm39_to_mm10_sorted.bed.gz"
    sv_del_ref = "/ref_data/variants_freeze5_sv_DEL_mm39_to_mm10_sorted.bed.gz"
    sv_inv_ref = "/ref_data/variants_freeze5_sv_INV_mm39_to_mm10_sorted.bed.gz"
    reg_ref = "/ref_data/mus_musculus.GRCm38.Regulatory_Build.regulatory_features.20180516.gff.gz"
    genes_bed = "/ref_data/Mus_musculus.GRCm38.102.gene_symbol.bed.gz"
    exons_bed = "/ref_data/Mus_musculus.GRCm38.102.exons.bed.gz"

    // SURVIVOR parameters
    surv_dist = 1000
    surv_supp = 1
    surv_type = 1
    surv_strand = 1
    surv_min = 30

    // ONT Specific
    quality = 10
    length = 400
    headcrop = 10
    tailcrop = 20

    targ_chr = false
    targ_start = false
    targ_end = false

    // Illumina Specific
    bwa_index = '/projects/omics_share/mouse/GRCm38/genome/indices/ensembl/v102/bwa/Mus_musculus.GRCm38.dna.primary_assembly.fa'
    sample_folder = null
    fastq2 = null

    // FASTP parameters
    quality_phred = 30
    unqualified_perc = 30

    exclude_regions = "/ref_data/ucsc_mm10_gap_chr_sorted.bed"

    // WES capture array BED and GATK intervals lists
    target_gatk = '/projects/omics_share/mouse/GRCm38/supporting_files/capture_kit_files/agilent/v2/S32371113_mouse_exon_V2.bare.bed'

    call_val = "50.0"

    // Delly
    delly_exclusion = ''
    delly_mappability = '/projects/compsci/omics_share/mouse/GRCm38/genome/annotation/intervals/mappability/GRCm38.dna.primary_assembly.map.gz'
    cnv_window = 10000
    cnv_min_size = 10000
    cnv_germline_prob = 0.00100000005 // default, param included for testing purpose. 

    // Annotations:
    // VEP
    vep_cache_directory = '/projects/compsci/omics_share/mouse/GRCm38/genome/annotation/vep_data' // VEP annotation cache. Note this directory contains additional annotation cache files.
    vep_fasta = '/projects/compsci/omics_share/mouse/GRCm38/genome/annotation/vep_data/mus_musculus/102_GRCm38/Mus_musculus.GRCm38.dna.toplevel.fa.gz'


}

if (params.genome_build == "GRCm39"){
    params.fasta = '/projects/omics_share/mouse/GRCm39/genome/sequence/ensembl/v105/Mus_musculus.GRCm39.dna.primary_assembly.fa'
    params.bwa_index = '/projects/omics_share/mouse/GRCm39/genome/sequence/ensembl/v105/Mus_musculus.GRCm39.dna.primary_assembly.fa'
    params.tandem_repeats = "/ref_data/ucsc_mm39_trf_chr_sorted.bed"
    params.sv_ins_ref = '/projects/omics_share/mouse/GRCm39/genome/annotation/struct_vars/ferraj_2023_inv_ins_del/variants_freeze5_sv_sym_INS_mm39_sorted.bed'
    params.sv_del_ref = '/projects/omics_share/mouse/GRCm39/genome/annotation/struct_vars/ferraj_2023_inv_ins_del/variants_freeze5_sv_sym_DEL_mm39_sorted.bed'
    params.sv_inv_ref = '/projects/omics_share/mouse/GRCm39/genome/annotation/struct_vars/ferraj_2023_inv_ins_del/variants_freeze5_sv_sym_INV_mm39_sorted.bed'
    params.reg_ref = "/ref_data/mus_musculus.GRCm39.Regulatory_Build.regulatory_features.20221007.gff.gz"
    params.genes_bed = "/ref_data/Mus_musculus.GRCm39.109.gene_symbol.bed.gz"
    params.exons_bed = "/ref_data/Mus_musculus.GRCm39.109.exons.bed.gz"  

    params.exclude_regions = '/projects/compsci/omics_share/mouse/GRCm39/genome/annotation/intervals/mm39.excluderanges_cleaned.bed' // From: https://dozmorovlab.github.io/excluderanges/

    params.target_gatk = '/projects/omics_share/mouse/GRCm39/supporting_files/capture_kit_files/agilent/v2/S32371113_mouse_exon_V2.mm39.bare.bed'

    // Delly 
    params.delly_exclusion = '/projects/compsci/omics_share/mouse/GRCm39/genome/annotation/intervals/GRCm39_gap_delly_exclusion.txt'
    params.delly_mappability = '/projects/compsci/omics_share/mouse/GRCm39/genome/annotation/intervals/mappability/GRCm39.p0.map.gz'  
    params.cnv_window = 10000
    params.cnv_min_size = 10000
    params.cnv_germline_prob = 0.00100000005 // default, param included for testing purpose. 

    // Annotations:
    // VEP
    params.vep_cache_directory = '/projects/compsci/omics_share/mouse/GRCm39/genome/annotation/vep_data' // VEP annotation cache. Note this directory contains additional annotation cache files.
    params.vep_fasta = '/projects/compsci/omics_share/mouse/GRCm39/genome/annotation/vep_data/mus_musculus/110_GRCm39/Mus_musculus.GRCm39.dna.toplevel.fa.gz'

    
}
