params {
    data_type = null
    csv_input = null
    download_data = null
    genome_build = "GRCm38"
    sampleID = 'SampleID_Placeholder'

    ref_fa = '/projects/omics_share/mouse/GRCm38/genome/sequence/ensembl/v102/Mus_musculus.GRCm38.dna.primary_assembly.fa'

    // ILLUMINA Specific
    fastq1 = null
    fastq2 = null
    bam = null
    // FASTP parameters
    quality_phred = 15
    unqualified_perc = 40
    detect_adapter_for_pe = false // by default, the auto-detection for adapter is for SE data input only, turn on this option to enable it for PE data.
    // NOTE: For PE data, the adapter sequence auto-detection is disabled by default since the adapters can be trimmed by overlap analysis. However, you can specify --detect_adapter_for_pe to enable it.
    //       For PE data, fastp will run a little slower if you specify the sequence adapters or enable adapter auto-detection, but usually result in a slightly cleaner output, since the overlap analysis may fail due to sequencing errors or adapter dimers.
    
    ref_fa_indices = '/projects/omics_share/mouse/GRCm38/genome/indices/ensembl/v102/bwa/Mus_musculus.GRCm38.dna.primary_assembly.fa'
    mismatch_penalty = '-B 8'
    chrom_contigs = '/projects/omics_share/mouse/GRCm38/genome/sequence/ensembl/v102/Mus_musculus.GRCm38.dna.primary_assembly.primaryChr.contig_list'

    smoove_support = 3
    exclude_regions = "/projects/omics_share/mouse/GRCm38/genome/annotation/intervals/ucsc_mm10_gap_chr_sorted.bed" 

    // Delly options
    delly_exclusion = '/projects/omics_share/mouse/GRCm38/genome/annotation/intervals/mouse.mm10.excl.tsv' // https://raw.githubusercontent.com/dellytools/delly/main/excludeTemplates/mouse.mm10.excl.tsv
    delly_mappability = '/projects/compsci/omics_share/mouse/GRCm38/genome/annotation/intervals/mappability/GRCm38.dna.primary_assembly.map.gz' // https://gear-genomics.embl.de/data/delly/
    cnv_window = 10000
    cnv_min_size = 10000
    cnv_germline_prob = 0.00100000005 // default, param included for testing purpose. 

    // VEP annotations
    vep_cache_directory = '/projects/compsci/omics_share/mouse/GRCm38/genome/annotation/vep_data' // VEP annotation cache. Note this directory contains additional annotation cache files.
    vep_fasta = '/projects/compsci/omics_share/mouse/GRCm38/genome/annotation/vep_data/mus_musculus/102_GRCm38/Mus_musculus.GRCm38.dna.toplevel.fa.gz'
    

    // PACBIO Specific
    minimap2_index = '/projects/omics_share/mouse/GRCm38/genome/indices/ensembl/v102/minimap2/Mus_musculus.GRCm38.dna.primary_assembly.mmi'
    pbmode = null
    pbsv_tandem = true
    tandem_repeats = '/projects/omics_share/mouse/GRCm38/genome/annotation/intervals/ucsc_mm10_trf_chr_sorted.bed'
    

    // ONT Specific
    quality = 9
    length = 400
    headcrop = 10
    tailcrop = 20
    targ_chr = false
    targ_start = false
    targ_end = false


    // Annotation Files
    sv_ins_ref = "/projects/omics_share/mouse/GRCm38/genome/annotation/struct_vars/ferraj_2023_inv_ins_del/variants_freeze5_sv_INS_mm39_to_mm10_sorted.bed.gz"
    sv_del_ref = "/projects/omics_share/mouse/GRCm38/genome/annotation/struct_vars/ferraj_2023_inv_ins_del/variants_freeze5_sv_DEL_mm39_to_mm10_sorted.bed.gz"
    sv_inv_ref = "/projects/omics_share/mouse/GRCm38/genome/annotation/struct_vars/ferraj_2023_inv_ins_del/variants_freeze5_sv_INV_mm39_to_mm10_sorted.bed.gz"
    reg_ref = "/projects/omics_share/mouse/GRCm38/genome/annotation/regulatory_regions/mus_musculus.GRCm38.Regulatory_Build.regulatory_features.20180516.gff.gz"
    genes_bed = "/projects/omics_share/mouse/GRCm38/genome/annotation/intervals/Mus_musculus.GRCm38.102.gene_symbol.bed.gz"
    exons_bed = "/projects/omics_share/mouse/GRCm38/genome/annotation/intervals/Mus_musculus.GRCm38.102.exons.bed.gz"

    // SURVIVOR parameters
    surv_dist = 1000
    surv_supp = 1
    surv_type = 1
    surv_strand = 1
    surv_min = 30

    read_type = 'PE' // required by workflow using with csv input 
    bwa_min_score = null // note required by workfow, included to avoid nextflow param warning.
    keep_intermediate = false
}


 // CLEAN UP THE ORDER OF THINGS HERE. 

if (params.genome_build == "GRCm39"){

    // ILLUMINA Specific
    params.ref_fa = '/projects/omics_share/mouse/GRCm39/genome/sequence/ensembl/v105/Mus_musculus.GRCm39.dna.primary_assembly.fa'
    params.ref_fa_indices = '/projects/omics_share/mouse/GRCm39/genome/indices/ensembl/v105/bwa/Mus_musculus.GRCm39.dna.primary_assembly.fa'
    params.chrom_contigs = '/projects/omics_share/mouse/GRCm39/genome/sequence/ensembl/v105/Mus_musculus.GRCm39.dna.primary_assembly.primaryChr.contig_list'
    
    // Delly 
    params.delly_exclusion = '/projects/compsci/omics_share/mouse/GRCm39/genome/annotation/intervals/GRCm39_gap_delly_exclusion.txt'
    params.delly_mappability = '/projects/compsci/omics_share/mouse/GRCm39/genome/annotation/intervals/mappability/GRCm39.p0.map.gz'  
    params.cnv_window = 10000
    params.cnv_min_size = 10000
    params.cnv_germline_prob = 0.00100000005 // default, param included for testing purpose. 

    params.exclude_regions = '/projects/compsci/omics_share/mouse/GRCm39/genome/annotation/intervals/mm39.excluderanges_cleaned.bed' // From: https://dozmorovlab.github.io/excluderanges/

    // VEP
    params.vep_cache_directory = '/projects/compsci/omics_share/mouse/GRCm39/genome/annotation/vep_data' // VEP annotation cache. Note this directory contains additional annotation cache files.
    params.vep_fasta = '/projects/compsci/omics_share/mouse/GRCm39/genome/annotation/vep_data/mus_musculus/110_GRCm39/Mus_musculus.GRCm39.dna.toplevel.fa.gz'

    // PACBIO Specific
    params.minimap2_index = '/projects/omics_share/mouse/GRCm39/genome/indices/ensembl/v105/minimap2/Mus_musculus.GRCm39.dna.primary_assembly.mmi'
    params.tandem_repeats = '/projects/omics_share/mouse/GRCm39/genome/annotation/intervals/ucsc_mm39_trf_chr_sorted.bed'

    // Annotation Files
    params.sv_ins_ref = '/projects/omics_share/mouse/GRCm39/genome/annotation/struct_vars/ferraj_2023_inv_ins_del/variants_freeze5_sv_sym_INS_mm39_sorted.bed'
    params.sv_del_ref = '/projects/omics_share/mouse/GRCm39/genome/annotation/struct_vars/ferraj_2023_inv_ins_del/variants_freeze5_sv_sym_DEL_mm39_sorted.bed'
    params.sv_inv_ref = '/projects/omics_share/mouse/GRCm39/genome/annotation/struct_vars/ferraj_2023_inv_ins_del/variants_freeze5_sv_sym_INV_mm39_sorted.bed'
    params.reg_ref = "/projects/omics_share/mouse/GRCm39/genome/annotation/regulatory_regions/mus_musculus.GRCm39.Regulatory_Build.regulatory_features.20221007.gff.gz"
    params.genes_bed = "/projects/omics_share/mouse/GRCm39/genome/annotation/intervals/Mus_musculus.GRCm39.109.gene_symbol.bed.gz"
    params.exons_bed = "/projects/omics_share/mouse/GRCm39/genome/annotation/intervals/Mus_musculus.GRCm39.109.exons.bed.gz"

}
