params {
    data_type = null
    genome_build = "GRCm38"
    fasta = null
    fasta_index = null
    fastq1 = null
    bam = null
    sampleID = null
    minimap2_index = null
    keep_intermediate = false
    pbmode = null
    pbsv_tandem = true
    tandem_repeats = "/ref_data/ucsc_mm10_trf_chr_sorted.bed"
    sv_ins_ref = "/ref_data/variants_freeze5_sv_INS_mm39_to_mm10_sorted.bed.gz"
    sv_del_ref = "/ref_data/variants_freeze5_sv_DEL_mm39_to_mm10_sorted.bed.gz"
    sv_inv_ref = "/ref_data/variants_freeze5_sv_INV_mm39_to_mm10_sorted.bed.gz"
    reg_ref = "/ref_data/mus_musculus.GRCm38.Regulatory_Build.regulatory_features.20180516.gff.gz"
    genes_bed = "/ref_data/Mus_musculus.GRCm38.102.gene_symbol.bed.gz"
    exons_bed = "/ref_data/Mus_musculus.GRCm38.102.exons.bed.gz"

    // SURVIVOR parameters
    surv_dist = 1000
    surv_supp = 1
    surv_type = 1
    surv_strand = 1
    surv_min = 30

    // ONT Specific
    quality = 10
    length = 400
    headcrop = 10
    tailcrop = 20

    targ_chr = false
    targ_start = false
    targ_end = false

    // Illumina Specific
    bwa_index = null
    sample_folder = null
    fastq2 = null

    // FASTP parameters
    quality_phred = 30
    unqualified_perc = 30

    exclude_regions = '/projects/compsci/omics_share/mouse/GRCm39/genome/annotation/intervals/mm39.excluderanges_cleaned.bed' // From: https://dozmorovlab.github.io/excluderanges/
    //exclude_regions = "/ref_data/ucsc_mm10_gap_chr_sorted.bed"

}

if (params.genome_build == "GRCm39"){
    params.tandem_repeats = "/ref_data/ucsc_mm39_trf_chr_sorted.bed"
    params.sv_ins_ref = "/ref_data/variants_freeze5_sv_sym_INS_mm39_sorted.bed.gz"
    params.sv_del_ref = "/ref_data/variants_freeze5_sv_sym_DEL_mm39_sorted.bed.gz"
    params.sv_inv_ref = "/ref_data/variants_freeze5_sv_sym_INV_mm39_sorted.bed.gz"
    params.reg_ref = "/ref_data/mus_musculus.GRCm39.Regulatory_Build.regulatory_features.20221007.gff.gz"
    params.genes_bed = "/ref_data/Mus_musculus.GRCm39.109.gene_symbol.bed.gz"
    params.exons_bed = "/ref_data/Mus_musculus.GRCm39.109.exons.bed.gz"  
}
