params {
    genome_build = "GRCm38"
    fasta = null
    fasta_index = null
    genome = null
    bwa_index = null
    sample_folder = null
    fastq1 = null
    fastq2 = null
    bam = null
    names = null
    keep_intermediate = false
    
    // FASTP parameters
    quality_phred = 30 
    unqualified_perc = 30

    exclude_regions = "/ref_data/ucsc_mm10_gap_chr_sorted.bed"
    tandem_repeats = "/ref_data/ucsc_mm10_trf_chr_sorted.bed"
    sv_ins_ref = "/ref_data/variants_freeze5_sv_INS_mm39_to_mm10_sorted.bed.gz"
    sv_del_ref = "/ref_data/variants_freeze5_sv_DEL_mm39_to_mm10_sorted.bed.gz"
    sv_inv_ref = "/ref_data/variants_freeze5_sv_INV_mm39_to_mm10_sorted.bed.gz"
    reg_ref = "/ref_data/mus_musculus.GRCm38.Regulatory_Build.regulatory_features.20180516.gff.gz"
    genes_bed = "/ref_data/Mus_musculus.GRCm38.102.gene_symbol.bed.gz"
    exons_bed = "/ref_data/Mus_musculus.GRCm38.102.exons.bed.gz"

    // SURVIVOR parameters
    surv_dist = 1000
    surv_supp = 1
    surv_type = 1
    surv_strand = 1
    surv_min = 30


}

if (params.genome_build == "GRCm39"){
    params.exclude_regions = "/ref_data/ucsc_mm39_gap_chr_sorted.bed"
    params.tandem_repeats = "/ref_data/ucsc_mm39_trf_chr_sorted.bed"
    params.sv_ins_ref = "/ref_data/variants_freeze5_sv_sym_INS_mm39_sorted.bed.gz"
    params.sv_del_ref = "/ref_data/variants_freeze5_sv_sym_DEL_mm39_sorted.bed.gz"
    params.sv_inv_ref = "/ref_data/variants_freeze5_sv_sym_INV_mm39_sorted.bed.gz"
    params.reg_ref = "/ref_data/mus_musculus.GRCm39.Regulatory_Build.regulatory_features.20221007.gff.gz"
    params.genes_bed = "/ref_data/Mus_musculus.GRCm39.109.gene_symbol.bed.gz"
    params.exons_bed = "/ref_data/Mus_musculus.GRCm39.109.exons.bed.gz"  
}