params {
    genome_build = "GRCm38"
    fasta = "/projects/omics_share/mouse/GRCm38/genome/sequence/ensembl/v102/Mus_musculus.GRCm38.dna.primary_assembly.fa"
    fasta_index = "/projects/omics_share/mouse/GRCm38/genome/sequence/ensembl/v102/Mus_musculus.GRCm38.dna.primary_assembly.fa.fai"
    //bwa_index = "/projects/omics_share/mouse/GRCm38/genome/indices/ensembl/v102/bwa/Mus_musculus.GRCm38.dna.primary_assembly.fa"

    // Used for SV calling with Delly. The default value below refers to a file inside the Docker container
    // quay.io/jaxcompsci/delly-ref_data:0.8.3--hf3ca161_1 but can be over-ridden with a different file.
    // exclude_regions = "/ref_data/mouse.mm10.excl.tsv"

    // FASTP parameters
    quality_phred = 30 
    unqualified_perc = 30

    keep_intermediate = false

    // SURVIVOR parameters
    //surv_dist is the maximum distance between breakpoints for merging SVs (default: 1000bp)
    surv_dist = 1000
    //surv_supp is the number of callers (out of 2) required to support an SV (default: 1)
    surv_supp = 1
    //surv_type is a boolean (0/1) that requires SVs to be the same type for merging (default: 1)
    surv_type = 1
    //surv_strand is a boolean (0/1) that requires SVs to be on the same strand for merging (default: 1)
    surv_strand = 1
    //surv_min is the minimum length to output SVs (default: 30bp)
    surv_min = 30

    exclude_regions = "/projects/reinholdt-lab/ONT/pipeline_development/new_refs/ucsc_mm10_gap_chr_sorted.bed"
    tandem_repeats = "/projects/reinholdt-lab/ONT/pipeline_development/new_refs/ucsc_mm10_trf_chr_sorted.bed"
    sv_ins_ref = "/projects/reinholdt-lab/ONT/pipeline_development/new_refs/variants_freeze5_sv_INS_mm39_to_mm10_sorted.bed.gz"
    sv_del_ref = "/projects/reinholdt-lab/ONT/pipeline_development/new_refs/variants_freeze5_sv_DEL_mm39_to_mm10_sorted.bed.gz"
    sv_inv_ref = "/projects/reinholdt-lab/ONT/pipeline_development/new_refs/variants_freeze5_sv_INV_mm39_to_mm10_sorted.bed.gz"
    reg_ref = "/projects/reinholdt-lab/ONT/pipeline_development/new_refs/mus_musculus.GRCm38.Regulatory_Build.regulatory_features.20180516.gff.gz"
    genes_bed = "/projects/reinholdt-lab/ONT/pipeline_development/new_refs/Mus_musculus.GRCm38.102.gene_symbol.bed"
    exons_bed = "/projects/reinholdt-lab/ONT/pipeline_development/new_refs/Mus_musculus.GRCm38.102.exons.bed"
}

if (params.genome_build == "GRCm39"){
    params.fasta = "/projects/omics_share/mouse/GRCm39/genome/sequence/ensembl/v109/Mus_musculus.GRCm39.dna.primary_assembly.fa"
    params.fasta_index = "/projects/omics_share/mouse/GRCm39/genome/sequence/ensembl/v109/Mus_musculus.GRCm39.dna.primary_assembly.fa.fai"
    params.exclude_regions = "/projects/reinholdt-lab/ONT/pipeline_development/new_refs/ucsc_mm39_gap_chr_sorted.bed"
    params.tandem_repeats = "/projects/reinholdt-lab/ONT/pipeline_development/new_refs/ucsc_mm39_trf_chr_sorted.bed"
    params.sv_ins_ref = "/projects/reinholdt-lab/ONT/pipeline_development/new_refs/variants_freeze5_sv_sym_INS_mm39_sorted.bed.gz"
    params.sv_del_ref = "/projects/reinholdt-lab/ONT/pipeline_development/new_refs/variants_freeze5_sv_sym_DEL_mm39_sorted.bed.gz"
    params.sv_inv_ref = "/projects/reinholdt-lab/ONT/pipeline_development/new_refs/variants_freeze5_sv_sym_INV_mm39_sorted.bed.gz"
    params.reg_ref = "/projects/reinholdt-lab/ONT/pipeline_development/new_refs/mus_musculus.GRCm39.Regulatory_Build.regulatory_features.20221007.gff.gz"
    params.genes_bed = "/projects/reinholdt-lab/ONT/pipeline_development/new_refs/Mus_musculus.GRCm39.109.gene_symbol.bed"
    params.exons_bed = "/projects/reinholdt-lab/ONT/pipeline_development/new_refs/Mus_musculus.GRCm39.109.exons.bed"  
}