params {

    fasta = "/projects/omics_share/mouse/GRCm38/genome/sequence/ensembl/v102/Mus_musculus.GRCm38.dna.primary_assembly.fa"
    fasta_index = "/projects/omics_share/mouse/GRCm38/genome/sequence/ensembl/v102/Mus_musculus.GRCm38.dna.primary_assembly.fa.fai"
    //bwa_index = "/projects/omics_share/mouse/GRCm38/genome/indices/ensembl/v102/bwa/Mus_musculus.GRCm38.dna.primary_assembly.fa"

    // Used for SV calling with Delly. The default value below refers to a file inside the Docker container
    // quay.io/jaxcompsci/delly-ref_data:0.8.3--hf3ca161_1 but can be over-ridden with a different file.
    exclude_regions = "/ref_data/mouse.mm10.excl.tsv"

    // FASTP parameters
    quality_phred = 30 
    unqualified_perc = 30

    keep_intermediate = false

    // SURVIVOR parameters
    //surv_dist is the maximum distance between breakpoints for merging SVs (default: 1000bp)
    surv_dist = 1000
    //surv_supp is the number of callers (out of 2) required to support an SV (default: 1)
    surv_supp = 1
    //surv_type is a boolean (0/1) that requires SVs to be the same type for merging (default: 1)
    surv_type = 1
    //surv_strand is a boolean (0/1) that requires SVs to be on the same strand for merging (default: 1)
    surv_strand = 1
    //surv_min is the minimum length to output SVs (default: 30bp)
    surv_min = 30
}