//====================  Nextflow/Container Config  ==========

manifest {
    name = "joint_gvcf_calling"
    description = 'Pipeline for Collecting GCVFs and Joint Genotyping'
}

params {
    gen_org = 'mouse' // human
    genome_build = 'GRCm38' // GRCm39
    csv_input = null
    ref_fa = params.reference_cache+'/mouse/GRCm38/genome/sequence/ensembl/v102/Mus_musculus.GRCm38.dna.primary_assembly.fa'
    chrom_contigs = params.reference_cache+'/mouse/GRCm38/genome/sequence/ensembl/v102/Mus_musculus.GRCm38.dna.primary_assembly.primaryChr.contig_list'
}

if (params.gen_org=='human' || params.genome_build=='GRCh38') {
    params.gen_org = 'human'
    params.genome_build = 'GRCh38'
    params.ref_fa = params.reference_cache+'/human/GRCh38/genome/sequence/gatk/Homo_sapiens_assembly38.fasta'
    params.chrom_contigs = params.reference_cache+'/human/GRCh38/genome/sequence/gatk/Homo_sapiens_assembly38.primaryChr.contig_list'
}

if (params.genome_build=='GRCm39'){
    params.genome_build = 'GRCm39'
    params.ref_fa = params.reference_cache+'/mouse/GRCm39/genome/sequence/ensembl/v105/Mus_musculus.GRCm39.dna.primary_assembly.fa'
    params.chrom_contigs = params.reference_cache+'/mouse/GRCm39/genome/sequence/ensembl/v105/Mus_musculus.GRCm39.dna.primary_assembly.primaryChr.contig_list'
}

if (params.genome_build=='other'){
    params.genome_build = null
    params.ref_fa = null
    params.chrom_contigs = null
}

