//====================  Nextflow/Container Config  ==========

manifest {
    name = "nygc_sv"
    description = 'Pipeline for processing of matched tumor normal samples for SV, and variant calling.'
    author = ', Copyright Jackson Laboratory 2021'
}

// Default to Mouse, If gen_org == 'human' parameters are overwritten with values
// in the "Defaults for Human" section below
params {
    //Shared params
    gen_org='human' // ONLY ONE OPTION HERE
    extension='.fastq.gz'
    pattern="*_R{1,2}*"
    read_type = 'PE' // SE
    concat_lanes = false

    ref_fa = '/projects/omics_share/human/GRCh38/genome/sequence/gatk/Homo_sapiens_assembly38.fasta'

    target_gatk = '/projects/omics_share/human/GRCh38/supporting_files/capture_kit_files/agilent/v7/S31285117_MergedProbes_no_gene_names.bed'

    call_val = 50.0
    ploidy_val = "-ploidy 2" \\ Need to revisit why we are using the param in this way. Could just be '2' and '-ploidy' would go into the module. 

    

}