//====================  Nextflow/Container Config  ==========

manifest {
    name = "pdx_wes"
    description = 'Pipeline for Processing Whole Exome Samples'
    author = 'Anuj Srivastava, Carolyn Paisie, Barry Guglielmo, Michael Lloyd, Brian Sanderson Copyright Jackson Laboratory 2021'
}

// Default to Mouse, If gen_org == 'human' parameters are overwritten with values
// in the "Defaults for Human" section below

params {
  // Shared params
  gen_org = 'mouse' // human
  extension='.fastq.gz'
  pattern="*_R{1,2}*"
  read_type = 'PE' // SE
  sample_folder = null
  concat_lanes = false
  download_data = false
  csv_input = null
  
  multiqc_config = "${projectDir}/bin/shared/multiqc/pdx_wes_multiqc.yaml"

  // Reference fasta
  ref_fa = '/projects/omics_share/human/GRCh38/genome/sequence/gatk/Homo_sapiens_assembly38.fasta'
  ref_fa_indices = '/projects/omics_share/human/GRCh38/genome/indices/gatk/bwa/Homo_sapiens_assembly38.fasta.64'
  
  // Quality Stats params
  min_pct_hq_reads = '0.0'

  // Xenome index  
  xenome_prefix='/projects/compsci/omics_share/human/GRCh38/supporting_files/xenome/trans_human_GRCh38_84_NOD_based_on_mm10_k25'

  // WES capture array BED and GATK intervals lists
  target_gatk = '/projects/omics_share/human/GRCh38/supporting_files/capture_kit_files/agilent/v7/S31285117_MergedProbes_no_gene_names.bed'
  target_picard = '/projects/omics_share/human/GRCh38/supporting_files/capture_kit_files/agilent/v7/S31285117_MergedProbes_no_gene_names.picard.interval_list'
  bait_picard = '/projects/omics_share/human/GRCh38/supporting_files/capture_kit_files/agilent/v7/S31285117_MergedProbes_no_gene_names.picard.interval_list'

  // Variant calling parameters
  mismatch_penalty = "-B 8"
  call_val = "50.0"

  exac_ref='/projects/compsci/omics_share/human/GRCh38/genome/annotation/snps_indels/ExAC.0.3.GRCh38_chr_added_bad_lift_over_removed_reorder_primary_only.vcf.gz'

  msisensor_model='/projects/compsci/omics_share/human/GRCh38/supporting_files/msisensor2/models_hg38'

  // VCF annotation
  gold_std_indels = '/projects/omics_share/human/GRCh38/genome/annotation/snps_indels/Mills_and_1000G_gold_standard.indels.hg38.vcf.gz'
  phase1_1000G = '/projects/omics_share/human/GRCh38/genome/annotation/snps_indels/1000G_phase1.snps.high_confidence.hg38.vcf.gz'
  dbSNP = '/projects/omics_share/human/GRCh38/genome/annotation/snps_indels/dbsnp_151.vcf.gz'
  dbSNP_index = '/projects/omics_share/human/GRCh38/genome/annotation/snps_indels/dbsnp_151.vcf.gz.tbi'
  dbNSFP='/projects/omics_share/human/GRCh38/genome/annotation/function/dbNSFP4.2a.gatk_formatted.txt.gz'
  cosmic = '/projects/omics_share/human/GRCh38/genome/annotation/function/COSMICv95_Coding_Noncoding.gatk_formatted.vcf.gz'
  cosmic_index = '/projects/omics_share/human/GRCh38/genome/annotation/function/COSMICv95_Coding_Noncoding.gatk_formatted.vcf.gz.tbi'
  gen_ver = "hg38"
  snpEff_config = '/projects/omics_share/human/GRCh38/genome/indices/snpEff_5_1/snpEff.config'

  tmpdir = "/fastscratch/${USER}" 

}