//====================  Nextflow/Container Config  ==========

manifest {
    name = "prepare_emase"
    description = 'Pipeline for Generating Pseudoreference files'
}

params {

    num_generations = 100
    ensembl_build = 105
    haplotype_list = 'A, B, C, D, E, F, G, H'

    emase_gene2transcript = params.reference_cache+'/mouse/GRCm39/supporting_files/emase_gbrs/rel_2112_v8/emase.gene2transcripts.tsv'
}
