//====================  Nextflow/Container Config  ==========

manifest {
    name = "prepare_emase"
    description = 'Pipeline for Generating Pseudoreference files'
    author = 'Michael Lloyd, Copyright Jackson Laboratory 2021'
}

params {

    num_generations = 100
    ensembl_build = 105

    pubdir = "/fastscratch/${USER}" 

    tmpdir = "/fastscratch/${USER}"
}
