//====================  Nextflow/Container Config  ==========

manifest {
    name = "prepare_emase"
    description = 'Pipeline for Making Multiway Transcriptomes'
    author = 'Michael Lloyd, Copyright Jackson Laboratory 2021'
}

params {
  // Shared params
  genome_file_list = ''
  gtf_file_list = ''
  haplotype_list = ''
  base_genome = ''
  base_gtf = ''

  pubdir = "/fastscratch/${USER}" 

  tmpdir = "/fastscratch/${USER}" 
}
