//====================  Nextflow/Container Config  ==========

manifest {
    name = "Patient Tumor Analysis"
    description = 'Pipeline for processing of germline and somatic SNP/InDEL and somatic structural variants and copy number alterations.'
}

params {
    // PDX sample: 
    pdx = false

    multiqc_config = "${projectDir}/bin/shared/multiqc/pta_multiqc.yaml"

    // Deduplicate reads
    deduplicate_reads = false

    // Split FASTQ prior to mapping
    split_fastq = false
    split_fastq_bin_size = 10000000

    // Apply Coverage Cap
    coverage_cap = null
    primary_chrom_bed = params.reference_cache+'/human/GRCh38/genome/annotation/intervals/Homo_sapiens_assembly38.primary_chrom.bed'

    // FASTP parameters
    quality_phred = 15 // default
    unqualified_perc = 40 // default
    detect_adapter_for_pe = false // by default, the auto-detection for adapter is for SE data input only, turn on this option to enable it for PE data.
    // NOTE: For PE data, the adapter sequence auto-detection is disabled by default since the adapters can be trimmed by overlap analysis. However, you can specify --detect_adapter_for_pe to enable it.
    //       For PE data, fastp will run a little slower if you specify the sequence adapters or enable adapter auto-detection, but usually result in a slightly cleaner output, since the overlap analysis may fail due to sequencing errors or adapter dimers.

    // xengsort index  
    xengsort_host_fasta = params.reference_cache+'/mouse/GRCm39/genome/sequence/imputed/rel_2112_v8/NOD_ShiLtJ.39.fa'
    xengsort_idx_path = params.reference_cache+'/human/GRCh38/supporting_files/xengsort'
    xengsort_idx_name = 'hg38_GRCm39-NOD_ShiLtJ'

    // Reference fasta
    ref_fa = params.reference_cache+'/human/GRCh38/genome/sequence/gatk/Homo_sapiens_assembly38.fasta'
    ref_fa_indices = params.reference_cache+'/human/GRCh38/genome/indices/gatk/bwa/Homo_sapiens_assembly38.fasta'
    ref_fa_dict = params.reference_cache+'/human/GRCh38/genome/sequence/gatk/Homo_sapiens_assembly38.dict'
    combined_reference_set = params.reference_cache+'/human/GRCh38/supporting_files/PTA_inputs/combined_ref_set/Homo_sapiens_assembly38.fasta' // Several tools (GRIDSS, SVABA) requires reference and bwa index files in same directory. Links used within this directory to avoid duplication. See note in directory. 

    // BWA params
    mismatch_penalty = "-B 8"

    // Known Sites for BQSR
    gold_std_indels = params.reference_cache+'/human/GRCh38/genome/annotation/snps_indels/Mills_and_1000G_gold_standard.indels.hg38.vcf.gz' // used in variant recal, and variant tranche recal. GATK resource bundle. 
    phase1_1000G = params.reference_cache+'/human/GRCh38/genome/annotation/snps_indels/1000G_phase1.snps.high_confidence.hg38.vcf.gz' // used in variant recal, and variant tranche recal. GATK resource bundle. 
    dbSNP = params.reference_cache+'/human/GRCh38/genome/annotation/snps_indels/dbsnp_151.vcf.gz' // used in annotation, variant recal, variant tranche recal, and by SVABA. 
    dbSNP_index = params.reference_cache+'/human/GRCh38/genome/annotation/snps_indels/dbsnp_151.vcf.gz.tbi'

    // Chromosome contig lists, used in scatter / gather operations. 
    chrom_contigs = params.reference_cache+'/human/GRCh38/genome/sequence/gatk/Homo_sapiens_assembly38.primaryChr.contig_list' // Contig list used for scatter / gather in calling and annotation. 
    chrom_intervals = params.reference_cache+'/human/GRCh38/genome/annotation/intervals/hg38_calling_intervals/' // Chromosome intervals used for scatter gather in calling. 
    

    // Germline Haplotypecaller and downstream filtering. 
    call_val = 50.0
    ploidy_val = "-ploidy 2"
    excludeIntervalList = params.reference_cache+'/human/GRCh38/genome/annotation/intervals/hg38_haplotypeCaller_skip.interval_list' // Germline caller exclusion list. 
    hapmap = params.reference_cache+'/human/GRCh38/genome/annotation/snps_indels/hapmap_3.3.hg38.vcf.gz' // variant tranche requirement. GATK resource bundle. 
    omni = params.reference_cache+'/human/GRCh38/genome/annotation/snps_indels/1000G_omni2.5.hg38.vcf.gz' // variant tranche requirement. GATK resource bundle. 

    // Somatic SNP/InDEL filtering 
    pon_bed = params.reference_cache+'/human/GRCh38/supporting_files/PTA_inputs/filtering/WGS_1000g_GRCh38.pon.bed' // used in snp/indel filtering.
    intervalListBed=params.reference_cache+'/human/GRCh38/supporting_files/PTA_inputs/filtering/SureSelect_V6plusCOSMIC.target.GRCh38_full_analysis_set_plus_decoy_hla.interval_list.bed' // used to extract non-exonic regions, to attempt recovery with Lancet calls.

    // Lancet: 
    lancet_beds_directory = params.reference_cache+'/human/GRCh38/genome/annotation/intervals/lancet_chr_beds/' // Lancet requirement

    // Bicseq2 
    mappability_directory = params.reference_cache+'/human/GRCh38/genome/annotation/intervals/mappability' // Bicseq2 requirement. 
    bicseq2_chromList = params.reference_cache+'/human/GRCh38/supporting_files/PTA_inputs/configs/sampleId.bicseq2.config' // bicseq2 requirement
    bicseq2_no_scaling = false

    // Gridss and Gripss (filtering)
    gripss_pon = params.reference_cache+'/human/GRCh38/supporting_files/PTA_inputs/gripss_pon' // gripss requirement

    // Manta
    callRegions = params.reference_cache+'/human/GRCh38/genome/annotation/intervals/GRCh38.callregions.bed.gz' // manta requirement. 

    // Strelka
    strelka_config = params.reference_cache+'/human/GRCh38/supporting_files/PTA_inputs/configs/configureStrelkaSomaticWorkflow.py.ini' // strelka requirement.

    // MSIsensor2
    msisensor_model=params.reference_cache+'/human/GRCh38/supporting_files/msisensor2/models_hg38' // model files for MSIsensor2

    // Annotations: 
    // VEP
    vep_cache_directory = params.reference_cache+'/human/GRCh38/genome/annotation/vep_data' // VEP annotation cache. Note this directory contains additional annotation cache files. 
    vep_fasta = params.reference_cache+'/human/GRCh38/genome/sequence/ensembl/GRCh38.p13/Homo_sapiens.GRCh38.dna.primary_assembly.fa' // VEP is ensembl based, and requires a separate reference file. 

    // Cosmic.
    cosmic_cgc = params.reference_cache+'/human/GRCh38/genome/annotation/function/cancer_gene_census_v97.csv'
    cosmic_cancer_resistance_muts = params.reference_cache+'/human/GRCh38/genome/annotation/function/CosmicResistanceMutations.tsv.gz'

    // Additional somatic annotations
    ensembl_entrez=params.reference_cache+'/human/GRCh38/supporting_files/PTA_inputs/annotations/GRCh39.p13_ensemblv109_entrez_id_map.csv' // used in somatic vcf finalization.

    // CNV and SV annotations and filtering files. 
    germline_filtering_vcf = params.reference_cache+'/human/GRCh38/supporting_files/PTA_inputs/filtering/gnomad-and-ALL_GRCh38_sites.20170504.normalized.modified.PASS.vcf.gz' // used in SNV call filtering.
    cytoband = params.reference_cache+'/human/GRCh38/supporting_files/PTA_inputs/annotations/GRCh38.cytoBand.UCSC.chr.sorted.txt' // used in bicseq2 annotations
    dgv = params.reference_cache+'/human/GRCh38/supporting_files/PTA_inputs/annotations/DGV.GRCh38_hg38_variants_2020-02-25.bed' // used in bicseq2 annotations
    thousandG = params.reference_cache+'/human/GRCh38/supporting_files/PTA_inputs/annotations/1KGP.CNV.GRCh38.canvas.merged.bed' // used in bicseq2 annotations
    cosmicUniqueBed = params.reference_cache+'/human/GRCh38/supporting_files/PTA_inputs/annotations/CosmicCompleteCNA_uniqIntervals.bed' // used in bicseq2 annotations
    cancerCensusBed = params.reference_cache+'/human/GRCh38/supporting_files/PTA_inputs/annotations/cancer_gene_census.GRCh38-v92.bed' // used in bicseq2 annotations and SV annotation. 
    ensemblUniqueBed = params.reference_cache+'/human/GRCh38/supporting_files/PTA_inputs/annotations/ensembl_genes_unique_sorted.final.v93.chr.sorted.bed' // used in bicseq2 annotations and SV annotation.   
    gap = params.reference_cache+'/human/GRCh38/supporting_files/PTA_inputs/annotations/GRCh38.gap.UCSC.annotated.chr.sorted.bed' // used in SV annotation.
    dgvBedpe = params.reference_cache+'/human/GRCh38/supporting_files/PTA_inputs/annotations/DGV.GRCh38_hg38_variants_2020-02-25.bedpe' // used in SV annotation.
    thousandGVcf = params.reference_cache+'/human/GRCh38/supporting_files/PTA_inputs/annotations/1KGP.pruned_wAFs.PASS_and_MULTIALLELIC_Mosaic.GRCh38.vcf' // used in SV annotation.
    svPon = params.reference_cache+'/human/GRCh38/supporting_files/PTA_inputs/annotations/1000G-SV-PON.survivor-merged.GRCh38.filtered.bedpe' // used in SV annotation.
    cosmicBedPe = params.reference_cache+'/human/GRCh38/supporting_files/PTA_inputs/annotations/cosmic-sv-GRCh38-v92.bedpe' // used in SV annotation.

    // NA12878 BAM file. For use in tumor-only processing. 
    na12878_bam = params.reference_cache+'/human/GRCh38/supporting_files/PTA_inputs/NA12878/NA12878_realigned_BQSR.bam'
    na12878_bai = params.reference_cache+'/human/GRCh38/supporting_files/PTA_inputs/NA12878/NA12878_realigned_BQSR.bai'
    na12878_sampleName = 'NA12878'

    // General ngs-ops arguments unsed in this workflow. 
    read_type = 'PE' // Only PE accepted.
    gen_org='human' // Only human accepted.
    sample_folder = null // not used, csv input required.
    extension='' // not used, csv input required. 
    pattern="" // not used, csv input required.
    concat_lanes = false // not used, csv input required.
    csv_input = null
    bwa_min_score = null
}


if (params.gen_org=='mouse'){

    // Reference fasta
    params.ref_fa = params.reference_cache+'/mouse/GRCm39/genome/sequence/ensembl/GRCm39.p0/Mus_musculus.GRCm39.dna.primary_assembly.fa' // GRCm39.p0 supports ensembl v105
    params.ref_fa_indices = params.reference_cache+'/mouse/GRCm39/genome/indices/ensembl/v105/bwa/Mus_musculus.GRCm39.dna.primary_assembly.fa'
    params.ref_fa_dict = params.reference_cache+'/mouse/GRCm39/genome/sequence/ensembl/GRCm39.p0/Mus_musculus.GRCm39.dna.primary_assembly.dict'
    
    params.combined_reference_set = params.reference_cache+'/mouse/GRCm39/supporting_files/PTA_inputs/combined_ref_set/Mus_musculus.GRCm39.dna.primary_assembly.fa' // Several tools (GRIDSS, SVABA) requires reference and bwa index files in same directory. Links used within this directory to avoid duplication. See note in directory. 

    // Coverage cap related
    params.primary_chrom_bed = params.reference_cache+'/mouse/GRCm39/genome/annotation/intervals/Mus_musculus.GRCm39.dna.primary_assembly.bed'
    
    // BWA params
    params.mismatch_penalty = "-B 8"

    params.dbSNP = params.reference_cache+'/mouse/GRCm39/genome/annotation/snps_indels/GCA_000001635.9_current_ids.vcf.gz' // used in annotation, and by SVABA. 
    params.dbSNP_index = params.reference_cache+'/mouse/GRCm39/genome/annotation/snps_indels/GCA_000001635.9_current_ids.vcf.gz.tbi'

    // Chromosome contig lists, used in scatter / gather operations. 
    params.chrom_contigs = params.reference_cache+'/mouse/GRCm39/genome/sequence/ensembl/GRCm39.p0/Mus_musculus.GRCm39.dna.primary_assembly.primaryChr.contig_list' // Contig list used for scatter / gather in calling and annotation. 
    
    params.chrom_intervals = params.reference_cache+'/mouse/GRCm39/genome/annotation/intervals/GRCm39_calling_intervals/' // Chromosome intervals used for scatter gather in calling. 
  
    // Germline Haplotypecaller and downstream filtering. 
    params.call_val = 50.0
    params.ploidy_val = "-ploidy 2"
    params.excludeIntervalList = params.reference_cache+'/mouse/GRCm39/genome/annotation/intervals/mm39.excluderanges.interval_list' // Germline caller exclusion list. 

    // Somatic SNP/InDEL filtering 
    params.intervalListBed = params.reference_cache+'/mouse/GRCm39/supporting_files/capture_kit_files/agilent/v2/S32371113_mouse_exon_V2.mm39.bare.bed' // used to extract non-exonic regions, to attempt recovery with Lancet calls.

    // Lancet: 
    params.lancet_beds_directory = params.reference_cache+'/mouse/GRCm39/genome/annotation/intervals/lancet_chr_beds/' // Lancet requirement

    // Delly 
    params.delly_exclusion = params.reference_cache+'/mouse/GRCm39/genome/annotation/intervals/GRCm39_gap_delly_exclusion.txt'
    params.delly_mappability = params.reference_cache+'/mouse/GRCm39/genome/annotation/intervals/mappability/GRCm39.p0.map.gz'  
    params.cnv_window = 10000
    params.cnv_min_size = 10000
    params.cnv_germline_prob = 0.00100000005 // default, param included for testing purpose. 

    // Manta
    params.callRegions = params.reference_cache+'/mouse/GRCm39/genome/annotation/intervals/GRCm39.callregions.bed.gz' // manta requirement. 

    // Strelka
    params.strelka_config = params.reference_cache+'/mouse/GRCm39/supporting_files/PTA_inputs/configs/configureStrelkaSomaticWorkflow.py.ini' // strelka requirement.

    // Annotations: 
    // VEP
    params.vep_cache_directory = params.reference_cache+'/mouse/GRCm39/genome/annotation/vep_data' // VEP annotation cache. Note this directory contains additional annotation cache files. 
    params.vep_fasta = params.reference_cache+'/mouse/GRCm39/genome/sequence/ensembl/GRCm39.p0/Mus_musculus.GRCm39.dna.primary_assembly.fa' // VEP is ensembl based, and requires a separate reference file. 

    // CNV and SV annotations and filtering files. 
    params.cytoband = params.reference_cache+'/mouse/GRCm39/supporting_files/PTA_inputs/annotations/GRCm38.liftedTo.GRCm39.cytoBand.UCSC.chr.sorted.bed' // used in cnv annotations
    params.known_del = params.reference_cache+'/mouse/GRCm39/genome/annotation/struct_vars/ferraj_2023_inv_ins_del/variants_freeze5_sv_sym_DEL_mm39_sorted.bed' // used in cnv/sv annotations
    params.known_ins = params.reference_cache+'/mouse/GRCm39/genome/annotation/struct_vars/ferraj_2023_inv_ins_del/variants_freeze5_sv_sym_INS_mm39_sorted.bed' // used in cnv/sv annotations
    params.known_inv = params.reference_cache+'/mouse/GRCm39/genome/annotation/struct_vars/ferraj_2023_inv_ins_del/variants_freeze5_sv_sym_INV_mm39_sorted.bed' // used in cnv/sv annotations

    params.ensemblUniqueBed = params.reference_cache+'/mouse/GRCm39/supporting_files/PTA_inputs/annotations/ensembl_genes_unique_sorted.final.v110.chr.sorted.bed' // used in cnv annotations and SV annotation.   

    params.gap = params.reference_cache+'/mouse/GRCm39/genome/annotation/intervals/GRCm39_gap.bed' // used in SV annotation. from UCSC table browser
    params.exclude_list = params.reference_cache+'/mouse/GRCm39/genome/annotation/intervals/mm39.excluderanges_cleaned.bed' // From: https://dozmorovlab.github.io/excluderanges/

    // Proxy Normal BAM file. For use in tumor-only processing. 
    params.proxy_normal_bam = params.reference_cache+'/mouse/GRCm39/supporting_files/PTA_inputs/C57L_J/C57L_J_dedup.bam'
    params.proxy_normal_bai = params.reference_cache+'/mouse/GRCm39/supporting_files/PTA_inputs/C57L_J/C57L_J_dedup.bam.bai'
    params.proxy_normal_sampleName = 'C57L_J'

}



