//====================  Nextflow/Container Config  ==========

manifest {
    name = "rna_fusion"
    description = 'Pipeline for processing of PDX RNASeq samples to call RNA Fusions, contains xenome step for processing PDX samples'
    author = 'Michael Lloyd, Sai Lek, Brian Sanderson Copyright Jackson Laboratory 2022'
    version = "0.1.0"
}

params {

  //Shared params
  extension='.fastq.gz'
  pattern="*{.,_,-}R{1,2}*"
  read_type = 'PE' // SE
  concat_lanes = false
  read_prep = 'reverse_stranded'//'forward_stranded' or 'non_stranded' 
  sample_folder = null
  concat_lanes = false
  download_data = false
  csv_input = null
  
  multiqc_config = "${projectDir}/bin/shared/multiqc/rna_fusion_multiqc.yaml"


  // Xenome index  
  xenome_prefix='/projects/compsci/omics_share/human/GRCh38/supporting_files/xenome/trans_human_GRCh38_84_NOD_based_on_mm10_k25'

  //Star-Fusion
  star_fusion_ref = '/projects/compsci/omics_share/human/GRCh38/transcriptome/indices/gencode/v37/star-fusion/ctat_genome_lib_build_dir'
  star_index = '/projects/compsci/omics_share/human/GRCh38/transcriptome/indices/gencode/v37/star/star-index-150bp_read_length' // change relative to read length
  
  //Options: star-fusion
  star_fusion_opt = false

  read_length = 150 // change relative to sample being processed

  // Options: fusion-report
  fusion_report_opt = false

  //Fusion-report databases
  databases = '/projects/compsci/omics_share/human/GRCh38/supporting_files/rna_fusion_dbs'

  //fasta = /projects/compsci/omics_share/human/GRCh38/transcriptome/indices/gencode/v37/ctat_genome_lib_build_dir/ref_genome.fa
  //gtf = /projects/compsci/omics_share/human/GRCh38/transcriptome/indices/gencode/v37/ctat_genome_lib_build_dir/ref_annot.gtf
  // These are params saved in case of additional tool inclusion. These are also the files used for STAR index building. 

  preserve_work = 'no'

}