//====================  Nextflow/Container Config  ==========

manifest {
    name = "rna_fusion"
    description = 'Pipeline for processing of PDX RNASeq samples to call RNA Fusions, contains xengsort step for processing PDX samples'
}

params {

  //Shared params
  extension='.fastq.gz'
  pattern="*{.,_,-}R{1,2}*"
  read_type = 'PE' // PE only supported.
  concat_lanes = false
  sample_folder = null
  download_data = false
  csv_input = null
  
  multiqc_config = "${projectDir}/bin/shared/multiqc/rna_fusion_multiqc.yaml"

  // PDX
  pdx = false
  
  // xengsort index  
  ref_fa = params.reference_cache+'/human/GRCh38/genome/sequence/gatk/Homo_sapiens_assembly38.fasta'
  xengsort_host_fasta = params.reference_cache+'/mouse/GRCm39/genome/sequence/imputed/rel_2112_v8/NOD_ShiLtJ.39.fa'
  xengsort_idx_path = params.reference_cache+'/human/GRCh38/supporting_files/xengsort'
  xengsort_idx_name = 'hg38_GRCm39-NOD_ShiLtJ'

  // READ LENGTH ADJUSTMENTS: 
  read_length = 150 // change relative to sample being processed. 75, 100, 125, and 150 are supported. 
  star_index = params.reference_cache+'/human/GRCh38/transcriptome/indices/rna_fusion/star/star-index-150bp' // change relative to read length. 75, 100, 125, and 150 are supported. 

  // GTF Annotation File.   
  gencode_gtf = params.reference_cache+'/human/GRCh38/transcriptome/indices/rna_fusion/gencode/gencode.v37.annotation.gtf.revised.custom.gtf'

  // FASTA
  fasta = params.reference_cache+'/human/GRCh38/transcriptome/indices/rna_fusion/ensembl/Homo_sapiens.GRCh38.102.all.fa' 

  // Arriba Options
  arriba_star_args = '--outSAMtype BAM Unsorted \
                      --outSAMunmapped Within \
                      --outBAMcompression 0 \
                      --outFilterMultimapNmax 50 \
                      --peOverlapNbasesMin 10 \
                      --alignSplicedMateMapLminOverLmate 0.5 \
                      --alignSJstitchMismatchNmax 5 -1 5 5 \
                      --chimSegmentMin 10 \
                      --chimOutType WithinBAM HardClip \
                      --chimJunctionOverhangMin 10 \
                      --chimScoreDropMax 30 \
                      --chimScoreJunctionNonGTAG 0 \
                      --chimScoreSeparation 1 \
                      --chimSegmentReadGapMax 3 \
                      --chimMultimapNmax 50'

  arriba_blacklist = params.reference_cache+'/human/GRCh38/transcriptome/indices/rna_fusion/arriba/blacklist_hg38_GRCh38_v2.4.0.tsv.gz'
  arriba_known_fusions = params.reference_cache+'/human/GRCh38/transcriptome/indices/rna_fusion/arriba/known_fusions_hg38_GRCh38_v2.4.0.tsv.gz'
  arriba_protein_domains = params.reference_cache+'/human/GRCh38/transcriptome/indices/rna_fusion/arriba/protein_domains_hg38_GRCh38_v2.4.0.gff3'

  // Fusioncatcher Options
  fusioncatcher_ref = params.reference_cache+'/human/GRCh38/transcriptome/indices/rna_fusion/fusioncatcher/human_v102'
  fusioncatcher_limitSjdbInsertNsj = 2000000

  // Jaffa Options
  jaffa_ref_dir = params.reference_cache+'/human/GRCh38/transcriptome/indices/rna_fusion/jaffa/'

  // Pizzly Options
  kallisto_index = params.reference_cache+'/human/GRCh38/transcriptome/indices/rna_fusion/pizzly/Homo_sapiens.GRCh38.102.cdna.all.kallisto-0.48.0.index'
  transcript_fasta = params.reference_cache+'/human/GRCh38/transcriptome/indices/rna_fusion/ensembl/Homo_sapiens.GRCh38.102.cdna.all.fa.gz'
  ensembl_gtf = params.reference_cache+'/human/GRCh38/transcriptome/indices/rna_fusion/ensembl/Homo_sapiens.GRCh38.102.gtf'

  // Squid Options
  squid_star_args = '--twopassMode Basic \
                     --chimOutType SeparateSAMold \
                     --chimSegmentMin 20 \
                     --chimJunctionOverhangMin 12 \
                     --alignSJDBoverhangMin 10 \
                     --outReadsUnmapped Fastx \
                     --outSAMstrandField intronMotif \
                     --outSAMtype BAM SortedByCoordinate'

  //Star-Fusion Options
  star_fusion_ref = params.reference_cache+'/human/GRCh38/transcriptome/indices/rna_fusion/starfusion/ctat_genome_lib_build_dir'
  star_fusion_opt = ''

  // Fusion Report Options: 
  fusion_report_opt = false

  //Fusion-report databases
  databases = params.reference_cache+'/human/GRCh38/supporting_files/rna_fusion_dbs'

}
