manifest {
    name = "rnaseq"
    description = 'Pipeline for processing of RNASeq samples.'
    author = 'Anuj Srivastava, Carolyn Paisie, Barry Guglielmo Copyright Jackson Laboratory 2021'
    version = "2.0.0"
}

// Default to Mouse, If gen_org == 'human' See Decision Block After params
params {

    //Shared params
    gen_org='mouse' // human
    extension='.fastq.gz'
    pattern="*_R{1,2}*"
    read_type = 'PE' // SE
    read_prep = 'stranded' // non_stranded
    sample_folder='/projects/compsci/guglib/tmp_pipeline_defaults/rna_truncated_sequences/pe'
    ref_fa='/projects/omics_share/mouse/GRCm38/genome/sequence/ensembl/v102/Mus_musculus.GRCm38.dna.toplevel.fa'

    //Quality Stats params
    filter_trim="${projectDir}/bin/shared/filter_trim.py"
    min_pct_hq_reads='0.0'

    //RSEM params
    seed_length = '25'
    rsem_ref_prefix = 'Mus_musculus.GRCm38.dna.toplevel'
    rsem_ref_files = '/projects/omics_share/mouse/GRCm38/transcriptome/indices/bowtie2'
    rsem_aligner = 'bowtie2'

    //Read Groups
    read_group_pyfile="${projectDir}/bin/shared/read_group_from_fastq.py"

    //Picard params
    picard_dict='/projects/omics_share/mouse/GRCm38/genome/sequence/ensembl/v102/Mus_musculus.GRCm38.dna.toplevel.dict'

    // need to make for mouse and remake for human
    ref_flat='/projects/omics_share/mouse/GRCm38/transcriptome/annotation/ensembl/v102/Mus_musculus.GRCm38.102.chr_patch_hapl_scaff.refFlat.txt'
    ribo_intervals='/projects/omics_share/mouse/GRCm38/transcriptome/annotation/ensembl/v102/Mus_musculus.GRCm38.102.chr_patch_hapl_scaff.rRNA.interval_list'

    summary_mets_PE="${projectDir}/bin/rnaseq/summary_QC_metrics_without_xenome.pl"
    summary_mets_SE="${projectDir}/bin/rnaseq/summary_QC_metrics_without_xenome_SE.pl"

}

// Defaults for Human
if (params.gen_org=='human'){

    params.ref_fa='/projects/omics_share/human/GRCh38/genome/sequence/ensembl/v104/Homo_sapiens.GRCh38.dna.toplevel.fa'
    params.ref_fai='/projects/omics_share/human/GRCh38/genome/sequence/ensembl/v104/Homo_sapiens.GRCh38.dna.toplevel.fa.fai'

    params.sample_folder='/projects/compsci/guglib/tmp_pipeline_defaults/rna_truncated_sequences/pe'

    // RSEM
    params.rsem_ref_prefix = 'Homo_sapiens.GRCh38.dna.toplevel'
    params.rsem_ref_files = '/projects/omics_share/human/GRCh38/transcriptome/indices/bowtie2'

    // Picard
    params.picard_dict='/projects/omics_share/human/GRCh38/genome/sequence/ensembl/v104/Homo_sapiens.GRCh38.dna.toplevel.dict'
    params.ref_flat='/projects/omics_share/human/GRCh38/transcriptome/annotation/ensembl/v104/Homo_sapiens.GRCh38.104.chr_patch_hapl_scaff.refFlat.txt'
    params.ribo_intervals='/projects/omics_share/human/GRCh38/transcriptome/annotation/ensembl/v104/Homo_sapiens.GRCh38.104.chr_patch_hapl_scaff.rRNA.interval_list'

    //Summary Stats
    params.summary_mets_PE="${projectDir}/bin/rnaseq/summary_QC_metrics_without_xenome.pl"
    params.summary_mets_SE="${projectDir}/bin/rnaseq/summary_QC_metrics_without_xenome_SE.pl"

    //GATK params
    params.probes='/projects/compsci/refdata/Human/agilent/hg38_agilent_SureSelect_V4_pChrM_probes_genename.bed'
    params.ctp_genes='/projects/compsci/refdata/Human/agilent/359genes_b38_noheader_withNames.bed'
    params.gatk_form="${projectDir}/bin/rnaseq/gatk_formatter.sh"
    params.cov_calc="${projectDir}/bin/rnaseq/coveragecalculator.py"
}


env {
    NXF_ANSI_SUMMARY = true
    NXF_ANSI_LOG = true
    NXF_DEBUG = 2
}

trace {
    enabled = true
    file = "${params.pubdir}/trace/trace.txt"
    fields = \
         "task_id,"   \
       + "hash,"      \
       + "process,"   \
       + "tag,"       \
       + "status,"    \
       + "exit,"      \
       + "start,"     \
       + "container," \
       + "cpus,"      \
       + "time,"      \
       + "disk,"      \
       + "memory,"    \
       + "duration,"  \
       + "realtime,"  \
       + "queue,"     \
       + "%cpu,"      \
       + "%mem,"      \
       + "rss,"       \
       + "vmem,"      \
       + "rchar,"     \
       + "wchar"
}
