//====================  Nextflow/Container Config  ==========

manifest {
    name = "rnaseq"
    description = 'Pipeline for processing of RNASeq samples.'
    author = 'Anuj Srivastava, Carolyn Paisie, Barry Guglielmo, Michael Lloyd, Brian Sanderson Copyright Jackson Laboratory 2021'
    version = "0.1.0"
}

// Default to Mouse, If gen_org == 'human' parameters are overwritten with values
// in the "Defaults for Human" section below
params {

    //Shared params
    gen_org='mouse' // human
    extension='.fastq.gz'
    pattern="*_R{1,2}*"
    read_type = 'PE' // SE
    concat_lanes = false
    read_prep = 'reverse_stranded' // 'reverse_stranded, forward_stranded, or non_stranded' 
    ref_fa='/projects/omics_share/mouse/GRCm38/genome/sequence/ensembl/v102/Mus_musculus.GRCm38.dna.toplevel.fa'
    pdx = false // if PDX, gen_org == human and xenome is run to remove mouse reads from the sample(s). 
    
    multiqc_config = "${projectDir}/bin/shared/multiqc/rnaseq_multiqc.yaml"

    //Quality Stats params
    min_pct_hq_reads='0.0'

    //RSEM params
    seed_length = '25'
    rsem_aligner = 'bowtie2' // 'star'
    rsem_ref_prefix = 'Mus_musculus.GRCm38.dna.toplevel'
    rsem_ref_files = '/projects/omics_share/mouse/GRCm38/transcriptome/indices/ensembl/v102'
    rsem_star_prefix = 'toplevel/GRCm38_100' // 'toplevel/GRCm38_75' or  'toplevel/GRCm38_150'
    
    //Picard params
    picard_dict='/projects/omics_share/mouse/GRCm38/genome/sequence/ensembl/v102/Mus_musculus.GRCm38.dna.toplevel.dict'

    ref_flat='/projects/omics_share/mouse/GRCm38/transcriptome/annotation/ensembl/v102/Mus_musculus.GRCm38.102.chr_patch_hapl_scaff.refFlat.txt'
    ribo_intervals='/projects/omics_share/mouse/GRCm38/transcriptome/annotation/ensembl/v102/Mus_musculus.GRCm38.102.chr_patch_hapl_scaff.rRNA.interval_list'

    tmpdir = "/fastscratch/${USER}" 
  
}

// Defaults for Human
if (params.gen_org=='human'){

    params.ref_fa='/projects/omics_share/human/GRCh38/genome/sequence/ensembl/v104/Homo_sapiens.GRCh38.dna.toplevel.fa'
    params.ref_fai='/projects/omics_share/human/GRCh38/genome/sequence/ensembl/v104/Homo_sapiens.GRCh38.dna.toplevel.fa.fai'

    //Quality Stats params
    params.min_pct_hq_reads='0.0'

    params.xenome_prefix='/projects/compsci/omics_share/human/GRCh38/supporting_files/xenome/trans_human_GRCh38_84_NOD_based_on_mm10_k25'

    // RSEM
    params.seed_length = '25'
    params.rsem_aligner = 'bowtie2' // 'star'
    params.rsem_ref_prefix = 'Homo_sapiens.GRCh38.dna.toplevel'
    params.rsem_ref_files = '/projects/omics_share/human/GRCh38/transcriptome/indices/ensembl/v104'
    params.rsem_star_prefix = 'toplevel/GRCh38_100' // 'toplevel/GRCh38_75' or  'toplevel/GRCh38_150' 
    
    // Picard
    params.picard_dict='/projects/omics_share/human/GRCh38/genome/sequence/ensembl/v104/Homo_sapiens.GRCh38.dna.toplevel.dict'
    params.ref_flat='/projects/omics_share/human/GRCh38/transcriptome/annotation/ensembl/v104/Homo_sapiens.GRCh38.104.chr_patch_hapl_scaff.refFlat.txt'
    params.ribo_intervals='/projects/omics_share/human/GRCh38/transcriptome/annotation/ensembl/v104/Homo_sapiens.GRCh38.104.chr_patch_hapl_scaff.rRNA.interval_list'
    
}