manifest {
    name = "rnaseq"
    description = 'Pipeline for processing of RNASeq samples.'
    author = 'Anuj Srivastava, Carolyn Paisie, Barry Guglielmo Copyright Jackson Laboratory 2021'
    version = "2.0.0"
}

params {

    //Shared params
    gen_org='mouse' // human
    extension='.fastq.gz'
    read_type = 'PE' // SE
    read_prep = 'stranded' // non_stranded
    ref_fa='/projects/compsci/guglib/tmp_pipeline_defaults/mouse_genome/Mus_musculus.GRCm38.dna.toplevel.fa'
    fq_path='/projects/compsci/guglib/tmp_pipeline_defaults/rna_truncated_sequences/pe'

    //Quality Stats params
    filter_trim="${params.cwd}/bin/shared/filter_trim.py"
    min_pct_hq_reads='0.0'

    //RSEM params
    aligner = 'off' // on
    seed_length = '25'
    rsem_ref_prefix = 'mus_musculus'
    rsem_ref_files = '/projects/compsci/guglib/tmp_pipeline_defaults/mouse_rsem_ref'
    rsem_aligner = 'bowtie2'
    
    //Read Groups
    read_group_pyfile='./bin/rnaseq/read_group_from_fastq.py'

    //Picard params
    ref_flat='/projects/compsci/guglib/tmp_pipeline_defaults/human_picard_ref/refFlat.txt'
    ribo_intervals='null'

    //Summary Stats
    summary_mets_PE='./bin/rnaseq/summary_QC_metrics_without_xenome.pl'
    summary_mets_SE='./bin/rnaseq/summary_QC_metrics_without_xenome_SE.pl'

    //GATK params
    probes=''
    ctp_genes=''
    gatk_form=''
    cov_calc=''

}

env {
    NXF_ANSI_SUMMARY = true
    NXF_ANSI_LOG = true
    NXF_DEBUG = 2
}

report {
    enabled = true
    file = "${params.outdir}/report.html"
}

trace {
    enabled = true
    file = "${params.outdir}/trace/trace.txt"
    fields = \
         "task_id,"   \
       + "hash,"      \
       + "process,"   \
       + "tag,"       \
       + "status,"    \
       + "exit,"      \
       + "start,"     \
       + "container," \
       + "cpus,"      \
       + "time,"      \
       + "disk,"      \
       + "memory,"    \
       + "duration,"  \
       + "realtime,"  \
       + "queue,"     \
       + "%cpu,"      \
       + "%mem,"      \
       + "rss,"       \
       + "vmem,"      \
       + "rchar,"     \
       + "wchar"
}
