//====================  Nextflow/Container Config  ==========

manifest {
    name = "rrbs"
    description = 'Pipeline for processing of RRBS samples.'
}

// Default to Mouse, If gen_org == 'human' parameters are overwritten with values
// in the "Defaults for Human" section below
params {
    //Shared params
    gen_org='mouse' // human
    genome_build = 'GRCm38' // GRCm39
    extension='.fastq.gz'
    pattern="*_R{1,2}*"
    sample_folder = null
    read_type = 'PE' // SE
    concat_lanes = false
    download_data = false
    csv_input = null
    
    multiqc_config = "${projectDir}/bin/shared/multiqc/rrbs_multiqc.yaml"

    // Trimming & Bismark Setting
    non_directional = true

    // Trim-Galore settings. 
    trimLength = '30'
    qualThreshold = '30'
    adapOverlap = '1'
    adaptorSeq = 'AGATCGGAAGAGC'

    // Bismark Mapping settings. 
    seedLength = '20'
    seedMismatch = '0'
    MinInsert = '0'
    MaxInsert = '500'
    ref_fa_index = params.reference_cache+'/mouse/GRCm38/genome/indices/ensembl/v102/bismark/bowtie2'
    aligner = 'bowtie2'

    // Bismark De-duplication 
    skip_deduplication = true

    // Bismark Methylation extraction settings. 
    cytosine_report = false
    comprehensive = true
}


if (params.gen_org=='human'){

    params.genome_build = 'GRCh38'

    // Trimming & Bismark Setting
    params.non_directional = true

    // Trim-Galore settings. 
    params.trimLength = '30'
    params.qualThreshold = '30'
    params.adapOverlap = '1'
    params.adaptorSeq = 'AGATCGGAAGAGC'
    
    // Bismark Mapping settings. 
    params.seedLength = '20'
    params.seedMismatch = '0'
    params.MinInsert = '0'
    params.MaxInsert = '500'
    params.ref_fa_index = params.reference_cache+'/human/GRCh38/genome/indices/gatk/bismark/bowtie2'
    params.aligner = 'bowtie2'

    // Bismark De-duplication 
    params.skip_deduplication = true

    // Bismark Methylation extraction settings. 
    params.cytosine_report = false
    params.comprehensive = true
}

// Defaults for GRCm39 build
if (params.genome_build=='GRCm39'){
    // Bismark Mapping settings.
    params.ref_fa_index = params.reference_cache+'/mouse/GRCm39/genome/indices/ensembl/v105/bismark/bowtie2'

}