//====================  Nextflow/Container Config  ==========

manifest {
    name = "rrbs"
    description = 'Pipeline for processing of RRBS samples.'
    author = 'Michael Lloyd, Copyright Jackson Laboratory 2021'
}

// Default to Mouse, If gen_org == 'human' parameters are overwritten with values
// in the "Defaults for Human" section below
params {
    //Shared params
    gen_org='mouse' // human
    extension='.fastq.gz'
    pattern="*_R{1,2}*"
    read_type = 'PE' // SE
    concat_lanes = false


    // Trimming & Bismark Setting
    non_directional = true

    // Trim-Galore settings. 
    trimLength = '30'
    qualThreshold = '30'
    adapOverlap = '1'
    adaptorSeq = 'AGATCGGAAGAGC'
    
    // Bismark Mapping settings. 
    seedLength = '20'
    seedMismatch = '0'
    MinInsert = '0'
    MaxInsert = '1000'
    ref_fa_index = '/projects/omics_share/mouse/GRCm38/genome/indices/ensembl/v102/bismark/bowtie2'
    aligner = 'bowtie2'

    // Bismark Methylation extraction settings. 
    cytosine_report = false
    comprehensive = true
}


if (params.gen_org=='human'){

    // Trimming & Bismark Setting
    params.non_directional = true

    // Trim-Galore settings. 
    params.trimLength = '30'
    params.qualThreshold = '30'
    params.adapOverlap = '1'
    params.adaptorSeq = 'AGATCGGAAGAGC'
    
    // Bismark Mapping settings. 
    params.seedLength = '20'
    params.seedMismatch = '0'
    params.MinInsert = '0'
    params.MaxInsert = '1000'
    params.ref_fa_index = '/projects/omics_share/human/GRCh38/genome/indices/gatk/bismark/bowtie2'
    params.aligner = 'bowtie2'

    // Bismark Methylation extraction settings. 
    params.cytosine_report = false
    params.comprehensive = true
}