//====================  Nextflow/Container Config  ==========

manifest {
    name = "somatic_wes"
    description = 'Pipeline for Processing Somatic Whole Exome Samples'
}

params {
  // Shared params
  gen_org = 'human' // human
  genome_build = 'GRCh38'
  extension='.fastq.gz'
  pattern="*_R{1,2}*"
  read_type = 'PE' // SE
  sample_folder = null
  concat_lanes = false
  download_data = false
  csv_input = null
  
  multiqc_config = "${projectDir}/bin/shared/multiqc/somatic_wes_multiqc.yaml"

  // Reference fasta
  ref_fa = params.reference_cache+'/human/GRCh38/genome/sequence/gatk/Homo_sapiens_assembly38.fasta'
  ref_fa_indices = params.reference_cache+'/human/GRCh38/genome/indices/gatk/bwa/Homo_sapiens_assembly38.fasta'
  chrom_contigs = params.reference_cache+'/human/GRCh38/genome/sequence/gatk/Homo_sapiens_assembly38.primaryChr.contig_list'

  // FASTP parameters
  quality_phred = 15 // default 
  unqualified_perc = 40 // default
  detect_adapter_for_pe = false // by default, the auto-detection for adapter is for SE data input only, turn on this option to enable it for PE data.
  // NOTE: For PE data, the adapter sequence auto-detection is disabled by default since the adapters can be trimmed by overlap analysis. However, you can specify --detect_adapter_for_pe to enable it.
  //       For PE data, fastp will run a little slower if you specify the sequence adapters or enable adapter auto-detection, but usually result in a slightly cleaner output, since the overlap analysis may fail due to sequencing errors or adapter dimers.

  // PDX
  pdx = false

  // FFPE
  ffpe = false

  // Genome Window File
  hg38_windows = params.reference_cache+'/human/GRCh38/genome/annotation/intervals/hg38_chrom_sizes.window.1000000.bed'

  // Xengsort index
  xengsort_host_fasta = params.reference_cache+'/mouse/GRCm39/genome/sequence/imputed/rel_2112_v8/NOD_ShiLtJ.39.fa'
  xengsort_idx_path = params.reference_cache+'/human/GRCh38/supporting_files/xengsort'
  xengsort_idx_name = 'hg38_GRCm39-NOD_ShiLtJ'

  // WES capture array BED and GATK intervals lists
  target_gatk = params.reference_cache+'/human/GRCh38/supporting_files/capture_kit_files/agilent/v7/S31285117_MergedProbes_no_gene_names.bed'
  target_picard = params.reference_cache+'/human/GRCh38/supporting_files/capture_kit_files/agilent/v7/S31285117_MergedProbes_no_gene_names.picard.interval_list'
  bait_picard = params.reference_cache+'/human/GRCh38/supporting_files/capture_kit_files/agilent/v7/S31285117_MergedProbes_no_gene_names.picard.interval_list'

  // BWA Param
  mismatch_penalty = "8"

  gnomad_ref=params.reference_cache+'/human/GRCh38/genome/annotation/snps_indels/af-only-gnomad.hg38.vcf.gz'
  pon_ref=params.reference_cache+'/human/GRCh38/genome/annotation/snps_indels/1000g_pon.hg38.vcf.gz'
  contam_ref=params.reference_cache+'/human/GRCh38/genome/annotation/snps_indels/small_exac_common_3.hg38.vcf.gz'

  genotype_pon = true
  genotype_germline = true

  msisensor_model=params.reference_cache+'/human/GRCh38/supporting_files/msisensor2/models_hg38'

  // Ancestry: 
  genotype_targets = params.reference_cache+'/human/GRCh38/supporting_files/ancestry_panel/snp_panel_v2_targets_annotations.snpwt.bed.gz'
  snpID_list = params.reference_cache+'/human/GRCh38/supporting_files/ancestry_panel/snp_panel_v2.list'
  snp_annotations = params.reference_cache+'/human/GRCh38/supporting_files/ancestry_panel/snp_panel_v2_targets_annotations.snpwt.bed.gz'
  snpweights_panel = params.reference_cache+'/human/GRCh38/supporting_files/ancestry_panel/ancestry_panel_v2.snpwt'

  // VCF annotation
  gold_std_indels = params.reference_cache+'/human/GRCh38/genome/annotation/snps_indels/Mills_and_1000G_gold_standard.indels.hg38.vcf.gz'
  phase1_1000G = params.reference_cache+'/human/GRCh38/genome/annotation/snps_indels/1000G_phase1.snps.high_confidence.hg38.vcf.gz'
  dbSNP = params.reference_cache+'/human/GRCh38/genome/annotation/snps_indels/dbsnp_151.vcf.gz'
  dbSNP_index = params.reference_cache+'/human/GRCh38/genome/annotation/snps_indels/dbsnp_151.vcf.gz.tbi'
  dbNSFP=params.reference_cache+'/human/GRCh38/genome/annotation/function/dbNSFP4.2a.gatk_formatted.txt.gz'
  cosmic = params.reference_cache+'/human/GRCh38/genome/annotation/function/COSMICv95_Coding_Noncoding.gatk_formatted.vcf.gz'
  cosmic_index = params.reference_cache+'/human/GRCh38/genome/annotation/function/COSMICv95_Coding_Noncoding.gatk_formatted.vcf.gz.tbi'
  gen_ver = "hg38"
  snpEff_config = params.reference_cache+'/human/GRCh38/genome/indices/snpEff_5_1/snpEff.config'

  bwa_min_score = null
}