//====================  Nextflow/Container Config  ==========

manifest {
    name = "nygc_sv"
    description = 'Pipeline for processing of matched tumor normal samples for SV, and variant calling.'
    author = ', Copyright Jackson Laboratory 2021'
}

params {
    //Shared params
    gen_org='human' // ONLY ONE OPTION HERE
    extension='.fastq.gz'
    pattern="*_R{1,2}*"
    read_type = 'PE' // SE
    concat_lanes = false
 
    // Quality Stats params
    min_pct_hq_reads = '0.0'

    // Reference fasta
    params.ref_fa = '/projects/omics_share/human/GRCh38/genome/sequence/gatk/Homo_sapiens_assembly38.fasta'
    params.ref_fa_indices = '/projects/omics_share/human/GRCh38/genome/indices/gatk/bwa/Homo_sapiens_assembly38.fasta.64'
    
    // BWA params
    params.mismatch_penalty = "-B 8"

    // Known Sites for BQSR
    params.gold_std_indels = '/projects/omics_share/human/GRCh38/genome/annotation/snps_indels/Mills_and_1000G_gold_standard.indels.hg38.vcf.gz'
    params.phase1_1000G = '/projects/omics_share/human/GRCh38/genome/annotation/snps_indels/1000G_phase1.snps.high_confidence.hg38.vcf.gz'
    params.dbSNP = '/projects/omics_share/human/GRCh38/genome/annotation/snps_indels/dbsnp_151.vcf.gz'

    chrom_contigs = '/projects/compsci/omics_share/human/GRCh38/genome/sequence/gatk/hg38_calling_intervals/chrom_contigs.txt'
    excludeIntervalList = '/projects/compsci/omics_share/meta/benchmarking/testing/inputs/hg38_haplotypeCaller_skip.interval_list'

    ref_fa_dict = '/projects/omics_share/human/GRCh38/genome/sequence/gatk/Homo_sapiens_assembly38.dict'

    call_val = 50.0
    
    ploidy_val = "-ploidy 2" // Need to revisit why we are using the param in this way. Could just be '2' and '-ploidy' would go into the module. 

    hapmap = '/projects/compsci/omics_share/meta/benchmarking/testing/inputs/hapmap_3.3.hg38.vcf.gz'
    omni = '/projects/compsci/omics_share/meta/benchmarking/testing/inputs/1000G_omni2.5.hg38.vcf.gz'
    onekG = '/projects/compsci/omics_share/meta/benchmarking/testing/inputs/1000G_phase1.snps.high_confidence.hg38.vcf.gz'
    dbsnp = '/projects/compsci/omics_share/meta/benchmarking/testing/inputs/Homo_sapiens_assembly38.dbsnp138.vcf'

    nygcAf = '/projects/compsci/omics_share/meta/benchmarking/testing/inputs/04142020_NYGC_samples.vcf.gz'
    whitelist = '/projects/compsci/omics_share/meta/benchmarking/testing/inputs/vep_whitelist_38.20201118.vcf.gz'
    pgx = '/projects/compsci/omics_share/meta/benchmarking/testing/inputs/pgx_vep_hg38.vcf.gz'
    chdWhitelistVcf = '/projects/compsci/omics_share/meta/benchmarking/testing/inputs/chd_whitelist.vcf.gz'
    rwgsPgxBed = '/projects/compsci/omics_share/meta/benchmarking/testing/inputs/rWGS_PGx.bed.gz'
    deepIntronicsVcf = '/projects/compsci/omics_share/meta/benchmarking/testing/inputs/deep_intronic_whitelist_08132020.vcf.gz'
    clinvarIntronicsVcf = '/projects/compsci/omics_share/meta/benchmarking/testing/inputs/clinvar_deep_intronics_09012020.vcf.gz'

    tmpdir = ''
    sample_folder = ''
}