params {

  description = 'Bare Minimum Nextflow Script for Sumner'
  contact = 'Barry Guglielmo'

  //pipeline specific params
  fq_path = '/projects/compsci/guglib/rnaseqs/PE' // needs to be full path not relative ~/wont/work
  extension = '.fastq.gz'
  genome_path = '/projects/compsci/guglib/toy-example/genomes'
  ref_files = '/home/guglib/ref'
  species='mus_musculus'
  ref_pull='false'
  ref_build='false'


  // trimming variables
  read_type = "PE"
  t_lead = 3
  t_trail = 3
  min_len = 36

}
