manifest {
    name = "nf-tenx"
    author = "Bill Flynn, Martine Seignon"
    homePage = "https://github.com/TheJacksonLaboratory/nf-tenx"
    mainScript = "main.nf"
    nextflowVersion = "!>=20.10.0"
    version = "0.1.0"
}

params {

  description = 'Bare Minimum Nextflow Script for Sumner'
  contact = 'Barry Guglielmo'

  //pipeline specific params
  fq_path = '/projects/compsci/guglib/rnaseqs/PE' // needs to be full path not relative ~/wont/work
  extension = '.fastq.gz'
  genome_path = '/projects/compsci/guglib/toy-example/genomes'
  ref_files = '/home/guglib/ref'
  species='mus_musculus'
  ref_pull='false'
  ref_build='false'


  // trimming variables
  read_type = "PE"
  t_lead = 3
  t_trail = 3
  min_len = 36

  /* NOTE: if you have many paramiters that are commonly altered in the processes
   use the -params-file option it takes a yaml list as input */


}



process {
    withName:TRIM {
        container = 'quay.io/biocontainers/trimmomatic:0.35--6'
    }
    withName:RSEM_REF_BUILD {
        container = 'dceoy/rsem'
    }
    withName:RSEM_EXPRESSION {
        container = 'dceoy/rsem'
    }
    executor = 'slurm'
 }
