params {

  description = 'Bare Minimum Nextflow Script for Sumner'
  contact = 'Barry Guglielmo'

  //pipeline specific params

  species='mus_musculus'
  extension = '.fastq.gz'
  ref_files = '/home/guglib/ref'
  fq_path = '/projects/compsci/guglib/rnaseqs/PE'
  genome_path = '/projects/compsci/guglib/toy-example/genomes'

  // trimming variables
  
  t_lead = 3
  t_trail = 3
  min_len = 36
  read_type = "PE"

}
