//====================  Nextflow/Container Config  ==========

manifest {
    name = "wes"
    description = 'Pipeline for Processing Whole Exome Samples'
}

// Default to Mouse, If gen_org == 'human' parameters are overwritten with values
// in the "Defaults for Human" section below

params {
  // Shared params
  gen_org = 'mouse' // human
  genome_build = 'GRCm38' // GRCm39
  extension='.fastq.gz'
  pattern="*_R{1,2}*"
  sample_folder = null
  read_type = 'PE' // SE
  concat_lanes = false
  download_data = false
  csv_input = null
  
  multiqc_config = "${projectDir}/bin/shared/multiqc/wes_multiqc.yaml"
  
  // Reference fasta
  ref_fa = params.reference_cache+'/mouse/GRCm38/genome/sequence/ensembl/v102/Mus_musculus.GRCm38.dna.primary_assembly.fa'
  ref_fa_indices=params.reference_cache+'/mouse/GRCm38/genome/indices/ensembl/v102/bwa/Mus_musculus.GRCm38.dna.primary_assembly.fa'

  // FASTP parameters
  quality_phred = 15 // default 
  unqualified_perc = 40 // default
  detect_adapter_for_pe = false // by default, the auto-detection for adapter is for SE data input only, turn on this option to enable it for PE data.
  // NOTE: For PE data, the adapter sequence auto-detection is disabled by default since the adapters can be trimmed by overlap analysis. However, you can specify --detect_adapter_for_pe to enable it.
  //       For PE data, fastp will run a little slower if you specify the sequence adapters or enable adapter auto-detection, but usually result in a slightly cleaner output, since the overlap analysis may fail due to sequencing errors or adapter dimers.

  // GVCF
  run_gvcf = false

  // WES capture array BED and GATK intervals lists
  target_gatk = params.reference_cache+'/mouse/GRCm38/supporting_files/capture_kit_files/agilent/v2/S32371113_mouse_exon_V2.bare.bed'
  target_picard = params.reference_cache+'/mouse/GRCm38/supporting_files/capture_kit_files/agilent/v2/S32371113_mouse_exon_V2.bare.picard.primary_assembly.interval_list'
  bait_picard = params.reference_cache+'/mouse/GRCm38/supporting_files/capture_kit_files/agilent/v2/S32371113_mouse_exon_V2.bare.picard.primary_assembly.interval_list'

  // BWA parameter
  mismatch_penalty = "8"
  // Variant calling parameters
  call_val = "50.0"
  ploidy_val = "2"

  // VCF annotation
  dbSNP = params.reference_cache+'/mouse/GRCm38/genome/annotation/snps_indels/GCA_000001635.6_current_ids.vcf.gz'
  dbSNP_index = params.reference_cache+'/mouse/GRCm38/genome/annotation/snps_indels/GCA_000001635.6_current_ids.vcf.gz.tbi'

  gen_ver = "GRCm38.99"
  snpEff_config = params.reference_cache+'/mouse/GRCm38/genome/indices/snpEff_5_1/snpEff.config'

  bwa_min_score = null
}

// Defaults for Human (Default HG38 PE)
if (params.gen_org=='human'){

  params.genome_build = 'GRCh38'

  // Reference fasta
  params.ref_fa = params.reference_cache+'/human/GRCh38/genome/sequence/gatk/Homo_sapiens_assembly38.fasta'
  params.ref_fa_indices = params.reference_cache+'/human/GRCh38/genome/indices/gatk/bwa/Homo_sapiens_assembly38.fasta'
  params.chrom_contigs = params.reference_cache+'/human/GRCh38/genome/sequence/gatk/Homo_sapiens_assembly38.primaryChr.contig_list'

  // Quality Stats params
  params.min_pct_hq_reads = '0.0'
  params.hq_pct = '70'

  // WES capture array BED and GATK intervals lists
  params.target_gatk = params.reference_cache+'/human/GRCh38/supporting_files/capture_kit_files/agilent/v7/S31285117_MergedProbes_no_gene_names.bed'
  params.target_picard = params.reference_cache+'/human/GRCh38/supporting_files/capture_kit_files/agilent/v7/S31285117_MergedProbes_no_gene_names.picard.interval_list'
  params.bait_picard = params.reference_cache+'/human/GRCh38/supporting_files/capture_kit_files/agilent/v7/S31285117_MergedProbes_no_gene_names.picard.interval_list'

  // BWA parameter
  params.mismatch_penalty = "8"
  // Variant calling parameters
  params.call_val = "50.0"
  params.ploidy_val = "2"

  // VCF annotation
  params.gold_std_indels = params.reference_cache+'/human/GRCh38/genome/annotation/snps_indels/Mills_and_1000G_gold_standard.indels.hg38.vcf.gz'
  params.phase1_1000G = params.reference_cache+'/human/GRCh38/genome/annotation/snps_indels/1000G_phase1.snps.high_confidence.hg38.vcf.gz'
  params.dbSNP = params.reference_cache+'/human/GRCh38/genome/annotation/snps_indels/dbsnp_151.vcf.gz'
  params.dbSNP_index = params.reference_cache+'/human/GRCh38/genome/annotation/snps_indels/dbsnp_151.vcf.gz.tbi'
  params.dbNSFP=params.reference_cache+'/human/GRCh38/genome/annotation/function/dbNSFP4.2a.gatk_formatted.txt.gz'
  params.cosmic = params.reference_cache+'/human/GRCh38/genome/annotation/function/COSMICv95_Coding_Noncoding.gatk_formatted.vcf.gz'
  params.cosmic_index = params.reference_cache+'/human/GRCh38/genome/annotation/function/COSMICv95_Coding_Noncoding.gatk_formatted.vcf.gz.tbi'
  params.gen_ver = "hg38"
  params.snpEff_config = params.reference_cache+'/human/GRCh38/genome/indices/snpEff_5_1/snpEff.config'

}

// Defaults for GRCm39 build
if (params.genome_build=='GRCm39'){

  // Reference fasta
  params.ref_fa = params.reference_cache+'/mouse/GRCm39/genome/sequence/ensembl/v105/Mus_musculus.GRCm39.dna.primary_assembly.fa'
  params.ref_fa_indices = params.reference_cache+'/mouse/GRCm39/genome/indices/ensembl/v105/bwa/Mus_musculus.GRCm39.dna.primary_assembly.fa'
  
  // WES capture array BED and GATK intervals lists
  params.target_gatk = params.reference_cache+'/mouse/GRCm39/supporting_files/capture_kit_files/agilent/v2/S32371113_mouse_exon_V2.mm39.bare.bed'
  params.target_picard = params.reference_cache+'/mouse/GRCm39/supporting_files/capture_kit_files/agilent/v2/S32371113_mouse_exon_V2.mm39.picard.interval_list'
  params.bait_picard = params.reference_cache+'/mouse/GRCm39/supporting_files/capture_kit_files/agilent/v2/S32371113_mouse_exon_V2.mm39.picard.interval_list'

  // VCF annotation
  params.dbSNP = params.reference_cache+'/mouse/GRCm39/genome/annotation/snps_indels/GCA_000001635.9_current_ids.vcf.gz'
  params.dbSNP_index = params.reference_cache+'/mouse/GRCm39/genome/annotation/snps_indels/GCA_000001635.9_current_ids.vcf.gz.tbi'
  params.gen_ver = 'GRCm39.105'
  params.snpEff_config = params.reference_cache+'/mouse/GRCm39/genome/indices/snpEff_5_1d/snpEff.config'
  params.comment = 'This script will run whole genome sequencing on mouse samples using default GRCm39'

}