// Copyright Jackson Laboratory 2021

// Config file that won't be edited by individual users and will remain constant; contains parameters such as containers to use/walltime/memory

//====================  Nextflow/Container Config  ==========

manifest {
    name = "wes"
    description = 'Pipeline for Processing Whole Exome Samples'
    author = 'Anuj Srivastava, Carolyn Paisie, Barry Guglielmo Copyright Jackson Laboratory 2021'
    version = "2.0.0"
}

// Default to Mouse, If gen_org == 'human' See Decision Block After params
params {
  //Shared params
  gen_org = 'mouse' // human
  extension='.fastq.gz'
  read_type = 'PE' // SE
  fq_path="/projects/compsci/guglib/tmp_pipeline_defaults/wes_truncated_sequences/pe"

  // reference fasta
  ref_fa = '/projects/compsci/refdata/Mouse/mm10/Index_Files/BWA/mm10.fa'
  ref_fa_indices='/projects/compsci/refdata/Mouse/mm10/Index_Files/BWA/mm10'
  //Quality Stats params
  filter_trim = "${params.cwd}/bin/shared/filter_trim.py"
  min_pct_hq_reads = '0.0'

  //Read Groups
  read_group_pyfile = "${params.cwd}/bin/shared/read_group_from_fastq.py"

  dbSNP = '/projects/compsci/refdata/Mouse/mm10/Annotation_Files/dbSNP/dbSNP.mm10.vcf.gz'
  target_gatk = '/projects/compsci/refdata/Mouse/mm10/mm10Exome_v4_12-19.1.mm10.baits_merged.bed'
  target_picard = '/projects/compsci/refdata/Mouse/mm10/mm10Exome_v4_12-19.1.mm10.targets_merged_picard_new.bed'
  bait_picard = '/projects/compsci/refdata/Mouse/mm10/mm10Exome_v4_12-19.1.mm10.baits_merged_picard_new.bed'

// IMPORTANT: snpEff.config needs to be in directory one level above data directory containing snpEff database files!!!!
  snpEff_config = "/projects/compsci/refdata/Mouse/mm10/snpEff_files/snpEff.config"
  stats_agg = "${params.cwd}/bin/wes/aggregate_stats.py"
  mismatch_penalty = "8"
  call_val = "50.0"
  ploidy_val = ""

}

// Defaults for Human (Default HG38 PE) Should we have a switch for other versions?
if (params.gen_org=='human'){
  params.gen_ver = "hg38"
  params.ref_fa = '/projects/compsci/refdata/Human/hg38/Index_Files/BWA/Homo_sapiens_assembly38.fasta'
  params.gold_std_indels = '/projects/compsci/refdata/Human/hg38/Annotation_Files/indels/Mills_and_1000G_gold_standard.indels.hg38.vcf'
  params.phase1_1000G = '/projects/compsci/refdata/Human/hg38/Annotation_Files/indels/1000G_phase1.snps.high_confidence.hg38.vcf'
  params.dbSNP = '/projects/compsci/refdata/Human/hg38/Annotation_Files/dbsnp/dbsnp_154_hg38.vcf.gz'
  params.target_gatk = '/projects/compsci/refdata/Human/agilent/hg38_liftover_agilent_SureSelect_V4_pChrM_probes.bed'
  params.target_picard = '/projects/compsci/refdata/Human/agilent/hg38_agilent_SureSelect_V4_pChrM_probes_picard_updated.bed'
  params.bait_picard = '/projects/compsci/refdata/Human/agilent/hg38_agilent_SureSelect_V4_pChrM_probes_picard_updated.bed'
  params.dbNSFP='/projects/compsci/refdata/Human/hg38/Annotation_Files/dbNSFP/hg38_dbNSFP3.2a.txt.gz'
  params.cosmic = '/projects/compsci/refdata/Human/hg38/Annotation_Files/Cosmic/COSMICv92_Coding_NonCoding.vcf'
  params.hgvs_data = '/projects/compsci/refdata/Human/hg38/snpEff_files/data/hg38'
  params.stats_agg = '${params.cwd}/bin/shared/aggregate_stats_updated.py'
  params.cosmic_annot = '/projects/compsci/nextflow/bin/Cosmic_Annotation_hg38.pl'
  params.snpEff_config = '/projects/compsci/refdata/Human/hg38/snpEff_files/snpEff.config'
  params.mismatch_penalty = "8"
  params.call_val = "50.0"
  params.ploidy_val = "-ploidy 4"
}

trace {
    enabled = true // false
    file = "${params.pubdir}/trace.txt"
    fields = \
         "task_id,"   \
       + "hash,"      \
       + "process,"   \
       + "tag,"       \
       + "status,"    \
       + "exit,"      \
       + "start,"     \
       + "container," \
       + "cpus,"      \
       + "time,"      \
       + "disk,"      \
       + "memory,"    \
       + "duration,"  \
       + "realtime,"  \
       + "queue,"     \
       + "%cpu,"      \
       + "%mem,"      \
       + "rss,"       \
       + "vmem,"      \
       + "rchar,"     \
       + "wchar"
}



/*
some old lines that may help
FILE_LIST_R1=`ls ${FQ_PATH}/*_R1*.fastq.gz > r1.txt`
FILE_LIST_R2=`ls ${FQ_PATH}/*_R2*.fastq.gz > r2.txt`
    R1=$(head -n $i r1.txt | tail -n 1)
    base=$(basename $R1 .fastq.gz)
    sbatch --export=ALL,pc_name=$base ./run_mm10_WholeExome.sh
*/
