//====================  Nextflow/Container Config  ==========

manifest {
    name = "wes"
    description = 'Pipeline for Processing Whole Exome Samples'
    author = 'Anuj Srivastava, Carolyn Paisie, Barry Guglielmo, Michael Lloyd, Brian Sanderson Copyright Jackson Laboratory 2021'
}

// Default to Mouse, If gen_org == 'human' parameters are overwritten with values
// in the "Defaults for Human" section below

params {
  // Shared params
  gen_org = 'mouse' // human
  extension='.fastq.gz'
  pattern="*_R{1,2}*"
  read_type = 'PE' // SE
  concat_lanes = false

  
  // Reference fasta
  ref_fa = '/projects/omics_share/mouse/GRCm38/genome/sequence/ensembl/v102/Mus_musculus.GRCm38.dna.primary_assembly.fa'
  ref_fa_indices='/projects/omics_share/mouse/GRCm38/genome/indices/ensembl/v102/bwa/Mus_musculus.GRCm38.dna.primary_assembly.fa'

  // Quality Stats params
  min_pct_hq_reads = '0.0'
  hq_pct = '70'

  // WES capture array BED and GATK intervals lists
  target_gatk = '/projects/omics_share/mouse/GRCm38/supporting_files/capture_kit_files/agilent/v2/S32371113_mouse_exon_V2.bare.bed'
  target_picard = '/projects/omics_share/mouse/GRCm38/supporting_files/capture_kit_files/agilent/v2/S32371113_mouse_exon_V2.bare.picard.primary_assembly.interval_list'
  bait_picard = '/projects/omics_share/mouse/GRCm38/supporting_files/capture_kit_files/agilent/v2/S32371113_mouse_exon_V2.bare.picard.primary_assembly.interval_list'

  // Variant calling parameters
  mismatch_penalty = "-B 8"
  call_val = "50.0"
  ploidy_val = "-ploidy 2"

  // VCF annotation
  dbSNP = '/projects/omics_share/mouse/GRCm38/genome/annotation/snps_indels/GCA_000001635.6_current_ids.vcf.gz'
  dbSNP_index = '/projects/omics_share/mouse/GRCm38/genome/annotation/snps_indels/GCA_000001635.6_current_ids.vcf.gz.tbi'

  gen_ver = "GRCm38.99"
  snpEff_config = "/projects/omics_share/mouse/GRCm38/genome/indices/snpEff_5_1/snpEff.config"

  tmpdir = "/fastscratch/${USER}" 
}

// Defaults for Human (Default HG38 PE) Should we have a switch for other versions?
if (params.gen_org=='human'){

  // Reference fasta
  params.ref_fa = '/projects/omics_share/human/GRCh38/genome/sequence/gatk/Homo_sapiens_assembly38.fasta'
  params.ref_fa_indices = '/projects/omics_share/human/GRCh38/genome/indices/gatk/bwa/Homo_sapiens_assembly38.fasta.64'
  
  // Quality Stats params
  params.min_pct_hq_reads = '0.0'
  params.hq_pct = '70'

  // WES capture array BED and GATK intervals lists
  params.target_gatk = '/projects/omics_share/human/GRCh38/supporting_files/capture_kit_files/agilent/v7/S31285117_MergedProbes_no_gene_names.bed'
  params.target_picard = '/projects/omics_share/human/GRCh38/supporting_files/capture_kit_files/agilent/v7/S31285117_MergedProbes_no_gene_names.picard.interval_list'
  params.bait_picard = '/projects/omics_share/human/GRCh38/supporting_files/capture_kit_files/agilent/v7/S31285117_MergedProbes_no_gene_names.picard.interval_list'

  // Variant calling parameters
  params.mismatch_penalty = "-B 8"
  params.call_val = "50.0"
  params.ploidy_val = "-ploidy 2"

  // VCF annotation
  // These gold standard snp & indel files are bgzipped and tabixed, but old versions were not. Is this an issue?
  params.gold_std_indels = '/projects/omics_share/human/GRCh38/genome/annotation/snps_indels/Mills_and_1000G_gold_standard.indels.hg38.vcf.gz'
  params.phase1_1000G = '/projects/omics_share/human/GRCh38/genome/annotation/snps_indels/1000G_phase1.snps.high_confidence.hg38.vcf.gz'
  params.dbSNP = '/projects/omics_share/human/GRCh38/genome/annotation/snps_indels/dbsnp_151.vcf.gz'
  params.dbSNP_index = '/projects/omics_share/human/GRCh38/genome/annotation/snps_indels/dbsnp_151.vcf.gz.tbi'
  params.dbNSFP='/projects/omics_share/human/GRCh38/genome/annotation/function/dbNSFP4.2a.gatk_formatted.txt.gz'
  params.cosmic = '/projects/omics_share/human/GRCh38/genome/annotation/function/COSMICv95_Coding_Noncoding.gatk_formatted.vcf.gz'
  params.cosmic_index = '/projects/omics_share/human/GRCh38/genome/annotation/function/COSMICv95_Coding_Noncoding.gatk_formatted.vcf.gz.tbi'
  params.gen_ver = "hg38"
  params.snpEff_config = '/projects/omics_share/human/GRCh38/genome/indices/snpEff_5_1/snpEff.config'

}