// Copyright Jackson Laboratory 2021

// Config file that won't be edited by individual users and will remain constant; contains parameters such as containers to use/walltime/memory

//====================  Nextflow/Container Config  ==========

manifest {
    name = "wgs"
    description = 'Pipeline for Processing Whole Genome Samples'
    author = 'Anuj Srivastava, Carolyn Paisie, Barry Guglielmo Copyright Jackson Laboratory 2021'
    version = "2.0.0"
}

// Default to Mouse, If gen_org == 'human' See Decision Block After params
params {
  //Shared params
  gen_org = 'mouse' // human
  extension='.fastq.gz'
  pattern="*_R{1,2}*"
  read_type = 'PE' // SE
  sample_folder="/projects/compsci/guglib/tmp_pipeline_defaults/wes_truncated_sequences/pe"

  // reference fasta
  ref_fa = '/projects/omics_share/mouse/GRCm38/genome/sequence/ensembl/v102/Mus_musculus.GRCm38.dna.toplevel.fa'
  ref_fa_indices='/projects/omics_share/mouse/GRCm38/genome/indices/bwa/Mus_musculus.GRCm38.dna.toplevel'
  //Quality Stats params
  filter_trim = "${projectDir}/bin/shared/filter_trim.py"
  min_pct_hq_reads = '0.0'

  //Read Groups
  read_group_pyfile = "${projectDir}/bin/shared/read_group_from_fastq.py"
  gen_org = "mouse"
  gen_ver = "mm10"
  dbSNP = '/projects/compsci/refdata/Mouse/mm10/Annotation_Files/dbSNP/dbSNP.mm10.tab.gz'
  snpEff_config = '/projects/omics_share/mouse/GRCm38/genome/indices/snpEff_5_1_GRCm38_v99/snpEff.config'
  stats_agg = "${projectDir}/bin/wgs/aggregate_stats_wgs.py"
  mismatch_penalty = "-B 8"
  ploidy_val = ""
  call_val = "50.0"
}
if (params.gen_org=='human'){
  params.gen_ver = "hg38"
  params.ref_fa = '/projects/omics_share/human/GRCh38/genome/sequence/ensembl/v104/Homo_sapiens.GRCh38.dna.toplevel.fa'
  // may be able to get rid of ref_fa_bwa *
  params.ref_fa_bwa = '/projects/omics_share/human/GRCh38/genome/sequence/ensembl/v104/hs38DH.fa.alt'
  // This is gold standard snp & indel files are bgzipped and tabixed, but old versions were not. Is this an issue?
  params.gold_std_indels = '/projects/omics_share/human/GRCh38/genome/annotation/snps_indels/Mills_and_1000G_gold_standard.indels.hg38.vcf.gz'
  params.phase1_1000G = '/projects/omics_share/human/GRCh38/genome/annotation/snps_indels/1000G_phase1.snps.high_confidence.hg38.vcf.gz'
  params.probes = '/projects/omics_share/human/GRCh38/supporting_files/hg38_liftover_agilent_SureSelect_V4_pChrM_probes.bed'
  params.dbSNP = '/projects/omics_share/human/GRCh38/genome/annotation/snps_indels/GCF_000001405.39.gz'
  params.dbNSFP='/projects/omics_share/human/GRCh38/genome/annotation/function/dbNSFP4.2a.txt.gz'
  params.snpEff_config = '/projects/omics_share/human/GRCh38/genome/indices/snpEff_5_1_GRCh38_v99/snpEff.config'
  params.cosmic = '/projects/omics_share/human/GRCh38/genome/annotation/function/COSMICv95_Coding_Noncoding.vcf'
  params.cosmic_annot = "${projectDir}/bin/shared/Cosmic_Annotation_hg38.pl"
  // this param was previously '/projects/compsci/refdata/Human/hg38/snpEff_files/data'
  params.hgvs_data = '/projects/omics_share/human/GRCh38/genome/indices/snpEff_5_1_GRCh38_v99'
  params.mismatch_penalty = "-B 8"
  params.ploidy_val = "-ploidy 4"
  params.call_val = "50.0"
  params.emit_val = "30.0"
}
