// Copyright Jackson Laboratory 2021

// Config file that won't be edited by individual users and will remain constant; contains parameters such as containers to use/walltime/memory

//====================  Nextflow/Container Config  ==========

manifest {
    name = "wgs"
    description = 'Pipeline for Processing Whole Genome Samples'
    author = 'Anuj Srivastava, Carolyn Paisie, Barry Guglielmo Copyright Jackson Laboratory 2021'
    version = "2.0.0"
}

// Default to Mouse, If gen_org == 'human' See Decision Block After params
params {
  //Shared params
  gen_org = 'mouse' // human
  extension='.fastq.gz'
  pattern="*_R{1,2}*"
  read_type = 'PE' // SE
  sample_folder="/projects/compsci/guglib/tmp_pipeline_defaults/wes_truncated_sequences/pe"

  // reference fasta
  ref_fa = '/projects/compsci/refdata/Mouse/mm10/Index_Files/BWA/mm10.fa'
  ref_fa_indices='/projects/compsci/refdata/Mouse/mm10/Index_Files/BWA/mm10'
  //Quality Stats params
  filter_trim = "${projectDir}/bin/shared/filter_trim.py"
  min_pct_hq_reads = '0.0'

  //Read Groups
  read_group_pyfile = "${projectDir}/bin/shared/read_group_from_fastq.py"
  gen_org = "mouse"
  gen_ver = "mm10"
  dbSNP = '/projects/compsci/refdata/Mouse/mm10/Annotation_Files/dbSNP/dbSNP.mm10.tab.gz'
  snpEff_config = '/projects/compsci/refdata/Mouse/mm10/snpEff_files/snpEff.config'
  stats_agg = "${projectDir}/bin/shared/aggregate_stats.py"
  mismatch_penalty = "-B 8"
  ploidy_val = ""
  call_val = "50.0"
}
if (params.gen_org=='human'){
  params.gen_ver = "hg38"
  params.ref_fa = '/projects/compsci/refdata/Human/hg38/Index_Files/BWA/Homo_sapiens_assembly38.fasta'
  // may be able to get rid of ref_fa_bwa *
  params.ref_fa_bwa = '/projects/compsci/refdata/Human/hg38/Index_Files/BWA/bwa_alt_aware_indices/hs38DH.fa'
  params.gold_std_indels = '/projects/compsci/refdata/Human/hg38/Annotation_Files/indels/Mills_and_1000G_gold_standard.indels.hg38.vcf'
  params.phase1_1000G = '/projects/compsci/refdata/Human/hg38/Annotation_Files/indels/1000G_phase1.snps.high_confidence.hg38.vcf'
  params.probes = '/projects/compsci/refdata/Human/agilent/hg38_liftover_agilent_SureSelect_V4_pChrM_probes.bed'
  params.dbSNP = '/projects/compsci/refdata/Human/hg38/Annotation_Files/dbsnp/dbsnp_154_hg38.vcf.gz'
  params.dbNSFP='/projects/compsci/refdata/Human/hg38/Annotation_Files/dbNSFP/hg38_dbNSFP3.2a.txt.gz'
  params.snpEff_config = '/projects/compsci/refdata/Mouse/mm10/snpEff_files/snpEff.config'
  params.cosmic = '/projects/compsci/refdata/Human/hg38/Annotation_Files/Cosmic/COSMICv92_Coding_NonCoding.vcf'
  params.cosmic_annot = "${projectDir}/bin/shared/Cosmic_Annotation_hg38.pl"
  params.hgvs_data = '/projects/compsci/refdata/Human/hg38/snpEff_files/data'
  params.mismatch_penalty = "-B 8"
  params.ploidy_val = "-ploidy 4"
  params.call_val = "50.0"
  params.emit_val = "30.0"
}
