//====================  Nextflow/Container Config  ==========

manifest {
    name = "wgs"
    description = 'Pipeline for Processing Whole Genome Samples'
    author = 'Anuj Srivastava, Carolyn Paisie, Barry Guglielmo, Michael Lloyd, Brian Sanderson Copyright Jackson Laboratory 2021'
}

// Default to Mouse, If gen_org == 'human' parameters are overwritten with values
// in the "Defaults for Human" section below

params {
  // Shared params
  gen_org = 'mouse' // human
  extension='.fastq.gz'
  pattern="*_R{1,2}*"
  read_type = 'PE' // SE
  concat_lanes = false

  // Reference fasta
  ref_fa = '/projects/omics_share/mouse/GRCm38/genome/sequence/ensembl/v102/Mus_musculus.GRCm38.dna.toplevel.fa'
  ref_fa_indices='/projects/omics_share/mouse/GRCm38/genome/indices/ensembl/v102/bwa/Mus_musculus.GRCm38.dna.toplevel.fa'
  chrom_contigs = '/projects/omics_share/mouse/GRCm38/genome/sequence/ensembl/v102/Mus_musculus.GRCm38.dna.toplevel.primaryChr.contig_list'
  
  // Quality Stats params
  min_pct_hq_reads = '0.0'

  // VCF annotation
  gen_ver = "GRCm38.99"
  dbSNP = '/projects/omics_share/mouse/GRCm38/genome/annotation/snps_indels/GCA_000001635.6_current_ids.vcf.gz'
  snpEff_config = '/projects/omics_share/mouse/GRCm38/genome/indices/snpEff_5_1/snpEff.config'
  
  // Variant calling parameters
  mismatch_penalty = "-B 8"
  ploidy_val = "-ploidy 2"
  call_val = "50.0"
}

if (params.gen_org=='human'){

  // Reference fasta
  params.ref_fa = '/projects/omics_share/human/GRCh38/genome/sequence/gatk/Homo_sapiens_assembly38.fasta'
  params.ref_fa_indices = '/projects/omics_share/human/GRCh38/genome/indices/gatk/bwa/Homo_sapiens_assembly38.fasta.64'
  params.chrom_contigs = '/projects/omics_share/human/GRCh38/genome/sequence/gatk/Homo_sapiens_assembly38.primaryChr.contig_list'
  
  // Variant calling parameters
  params.mismatch_penalty = "-B 8"
  params.ploidy_val = "-ploidy 2"
  params.call_val = "50.0"

  // VCF annotation
  params.gold_std_indels = '/projects/omics_share/human/GRCh38/genome/annotation/snps_indels/Mills_and_1000G_gold_standard.indels.hg38.vcf.gz'
  params.phase1_1000G = '/projects/omics_share/human/GRCh38/genome/annotation/snps_indels/1000G_phase1.snps.high_confidence.hg38.vcf.gz'
  params.dbSNP = '/projects/omics_share/human/GRCh38/genome/annotation/snps_indels/dbsnp_151.vcf.gz'
  params.dbNSFP='/projects/omics_share/human/GRCh38/genome/annotation/function/dbNSFP4.2a.gatk_formatted.txt.gz'
  params.cosmic = '/projects/omics_share/human/GRCh38/genome/annotation/function/COSMICv95_Coding_Noncoding.gatk_formatted.vcf'
  params.gen_ver = "hg38"
  params.snpEff_config = '/projects/omics_share/human/GRCh38/genome/indices/snpEff_5_1/snpEff.config'
}